flows_SC-201608101737.json
[{"id":"a063fdd3.e41ca","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"119388cd.a2a427","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b744ca98.506c18","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"86b51779.6a9768","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7a45856b.cf8b6c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fba433d.c7b3bd","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a9548e35.e3e29","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"","payload":"flower","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":420,"wires":[["f9f85632.de58b8"]]},{"id":"f9f85632.de58b8","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":240,"wires":[]},{"id":"5a8b034.b8ea3fc","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":470,"y":560,"wires":[["e1d81628.296218"]]},{"id":"e1d81628.296218","type":"change","z":"a063fdd3.e41ca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"hello","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":560,"wires":[["da467ff4.0c597"]]},{"id":"da467ff4.0c597","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"console":"false","complete":"false","x":880,"y":560,"wires":[]},{"id":"5440817e.ac82d","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":450,"y":680,"wires":[["899fb08a.f1039"]]},{"id":"899fb08a.f1039","type":"change","z":"a063fdd3.e41ca","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":680,"wires":[["8e175197.df574"]]},{"id":"8e175197.df574","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"console":"false","complete":"false","x":860,"y":680,"wires":[]},{"id":"247b52ef.4f3b1e","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"Hello2","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":470,"y":780,"wires":[["faebc3dc.5c606"]]},{"id":"faebc3dc.5c606","type":"change","z":"a063fdd3.e41ca","name":"","rules":[{"t":"move","p":"topic","pt":"msg","to":"payloa","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":780,"wires":[["330f7349.c2609c"]]},{"id":"330f7349.c2609c","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloa","x":860,"y":780,"wires":[]},{"id":"91b9196.a6945e8","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":450,"y":880,"wires":[["1c154ec8.1109d1"]]},{"id":"1c154ec8.1109d1","type":"range","z":"a063fdd3.e41ca","minin":"0","maxin":"1023","minout":"0","maxout":"5.33","action":"clamp","round":false,"property":"payload","name":"","x":670,"y":920,"wires":[["2c9c160a.bbf75a"]]},{"id":"b3effebf.d0168","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"x":450,"y":920,"wires":[["1c154ec8.1109d1"]]},{"id":"e2a6af7c.5364e","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"","payload":"1023","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":450,"y":960,"wires":[["1c154ec8.1109d1"]]},{"id":"2c9c160a.bbf75a","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"console":"false","complete":"false","x":870,"y":920,"wires":[]},{"id":"fcde0424.8ddcd8","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":460,"y":1080,"wires":[["e23f681.49e2798"]]},{"id":"e23f681.49e2798","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"console":"false","complete":"false","x":730,"y":1080,"wires":[]},{"id":"d01cd592.123e08","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":450,"y":1200,"wires":[["328ca5c5.3db15a"]]},{"id":"328ca5c5.3db15a","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"console":"false","complete":"false","x":720,"y":1200,"wires":[]},{"id":"91c90788.8bffc8","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"","payload":"It is 4pm on a weekday!","payloadType":"str","repeat":"","crontab":"00 16 * * 1,2,3,4,5","once":false,"onceDelay":"","x":490,"y":1280,"wires":[["49b8cc8.640ec34"]]},{"id":"49b8cc8.640ec34","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"console":"false","complete":"false","x":710,"y":1280,"wires":[]},{"id":"99736e7f.3ad1","type":"http in","z":"a063fdd3.e41ca","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":450,"y":1360,"wires":[["4cc5dae9.2318c4"]]},{"id":"4cc5dae9.2318c4","type":"template","z":"a063fdd3.e41ca","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":600,"y":1360,"wires":[["818173a3.2c956"]]},{"id":"818173a3.2c956","type":"http response","z":"a063fdd3.e41ca","name":"","statusCode":"401","headers":{"content-type":"application/json"},"x":750,"y":1360,"wires":[]},{"id":"bd2ba60f.c77358","type":"template","z":"a063fdd3.e41ca","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>","x":610,"y":1520,"wires":[["f013de31.07ee9"]]},{"id":"c449e3b1.c128b","type":"http in","z":"a063fdd3.e41ca","name":"","url":"/hello-query","method":"get","swaggerDoc":"","x":440,"y":1520,"wires":[["bd2ba60f.c77358"]]},{"id":"f013de31.07ee9","type":"http response","z":"a063fdd3.e41ca","name":"","statusCode":"","headers":{},"x":750,"y":1520,"wires":[]},{"id":"e428ab39.771678","type":"http response","z":"a063fdd3.e41ca","name":"","statusCode":"","headers":{},"x":810,"y":1620,"wires":[]},{"id":"fa883aad.459e08","type":"template","z":"a063fdd3.e41ca","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>","x":670,"y":1620,"wires":[["e428ab39.771678"]]},{"id":"b6ec42c7.91d31","type":"http in","z":"a063fdd3.e41ca","name":"","url":"/hello-param/:name","method":"get","upload":false,"swaggerDoc":"","x":470,"y":1620,"wires":[["fa883aad.459e08"]]},{"id":"ead6bfbb.6aac1","type":"http in","z":"a063fdd3.e41ca","name":"","url":"/hello-headers","method":"get","upload":false,"swaggerDoc":"","x":480,"y":1760,"wires":[["ae02ae31.9695a"]]},{"id":"ae02ae31.9695a","type":"template","z":"a063fdd3.e41ca","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>User agent: {{req.headers.user-agent}}</h1>\n    </body>\n</html>","x":660,"y":1760,"wires":[["b80f6825.77a1d8"]]},{"id":"b80f6825.77a1d8","type":"http response","z":"a063fdd3.e41ca","name":"","statusCode":"","headers":{},"x":800,"y":1760,"wires":[]},{"id":"90c2a0be.a0431","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":1880,"wires":[["4e11812.abf1d8"]]},{"id":"4e11812.abf1d8","type":"change","z":"a063fdd3.e41ca","name":"Store time","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1880,"wires":[["eb39a6ef.de9768"]]},{"id":"f43ac703.d92db8","type":"http in","z":"a063fdd3.e41ca","name":"","url":"/hello-data","method":"get","upload":false,"swaggerDoc":"","x":390,"y":1940,"wires":[["4a71f5b4.01649c"]]},{"id":"4a71f5b4.01649c","type":"change","z":"a063fdd3.e41ca","name":"Copy time","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"timestamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1940,"wires":[["47b1221f.3c274c"]]},{"id":"47b1221f.3c274c","type":"template","z":"a063fdd3.e41ca","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>","x":810,"y":1940,"wires":[["a01a00a9.bdfdf"]]},{"id":"a01a00a9.bdfdf","type":"http response","z":"a063fdd3.e41ca","name":"","statusCode":"","headers":{},"x":970,"y":1940,"wires":[]},{"id":"eb39a6ef.de9768","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":800,"y":1880,"wires":[]},{"id":"f264c06.4f63f4","type":"http in","z":"a063fdd3.e41ca","name":"","url":"/hello-json","method":"get","upload":false,"swaggerDoc":"","x":410,"y":2180,"wires":[["d6806667.95b838"]]},{"id":"d6806667.95b838","type":"template","z":"a063fdd3.e41ca","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":580,"y":2180,"wires":[["3284df25.b8ba9"]]},{"id":"3284df25.b8ba9","type":"change","z":"a063fdd3.e41ca","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2180,"wires":[["9a02c087.29ed3"]]},{"id":"9a02c087.29ed3","type":"http response","z":"a063fdd3.e41ca","name":"","statusCode":"","headers":{},"x":900,"y":2180,"wires":[]},{"id":"781ae926.22f948","type":"comment","z":"a063fdd3.e41ca","name":"可以使用msg.headers 属性设置响应中返回的HTTP标头。它应该是每个标头的键/值对的对象。","info":"","x":920,"y":2240,"wires":[]},{"id":"22a54dff.8a5752","type":"http in","z":"a063fdd3.e41ca","name":"","url":"/hello-file","method":"get","upload":false,"swaggerDoc":"","x":400,"y":2340,"wires":[["10d4dbac.02f0a4"]]},{"id":"10d4dbac.02f0a4","type":"file in","z":"a063fdd3.e41ca","name":"","filename":"e:/node-red.png","format":"","sendError":true,"x":570,"y":2340,"wires":[["c85df412.5b6f58"]]},{"id":"c85df412.5b6f58","type":"change","z":"a063fdd3.e41ca","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2340,"wires":[["e6482ba7.4318b8"]]},{"id":"e6482ba7.4318b8","type":"http response","z":"a063fdd3.e41ca","name":"","statusCode":"","headers":{},"x":900,"y":2340,"wires":[]},{"id":"8876fb3a.7b8728","type":"http in","z":"a063fdd3.e41ca","name":"","url":"/hello-raw","method":"post","upload":false,"swaggerDoc":"","x":430,"y":2420,"wires":[["c1d8b66f.ba5fa8"]]},{"id":"c1d8b66f.ba5fa8","type":"template","z":"a063fdd3.e41ca","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload }}!</h1>\n    </body>\n</html>","x":600,"y":2420,"wires":[["db3d45b6.c6bf08"]]},{"id":"db3d45b6.c6bf08","type":"http response","z":"a063fdd3.e41ca","name":"","x":740,"y":2420,"wires":[]},{"id":"120723d9.231e9c","type":"http in","z":"a063fdd3.e41ca","name":"","url":"/hello-form","method":"post","upload":false,"swaggerDoc":"","x":410,"y":2500,"wires":[["843b7bd2.0907e8"]]},{"id":"843b7bd2.0907e8","type":"template","z":"a063fdd3.e41ca","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":580,"y":2500,"wires":[["32f43376.116bbc"]]},{"id":"32f43376.116bbc","type":"http response","z":"a063fdd3.e41ca","name":"","statusCode":"","headers":{},"x":720,"y":2500,"wires":[]},{"id":"4ea6ac2c.cc4ba4","type":"http in","z":"a063fdd3.e41ca","name":"","url":"/hello-form","method":"post","upload":false,"swaggerDoc":"","x":450,"y":2740,"wires":[["997dc21d.b3fc6"]]},{"id":"997dc21d.b3fc6","type":"template","z":"a063fdd3.e41ca","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":620,"y":2740,"wires":[["7a21baa0.bc0c94"]]},{"id":"7a21baa0.bc0c94","type":"http response","z":"a063fdd3.e41ca","name":"","statusCode":"","headers":{},"x":760,"y":2740,"wires":[]},{"id":"bd96e4bd.5b5b28","type":"http in","z":"a063fdd3.e41ca","name":"","url":"/hello-cookie","method":"get","upload":false,"swaggerDoc":"","x":460,"y":3040,"wires":[["a6c4a167.b3e8a"]]},{"id":"a6c4a167.b3e8a","type":"function","z":"a063fdd3.e41ca","name":"Format cookies","func":"msg.payload = JSON.stringify(msg.req.cookies,null,4);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":3040,"wires":[["3d7cc367.bac08c"]]},{"id":"3d7cc367.bac08c","type":"template","z":"a063fdd3.e41ca","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Cookies</h1>\n        <p></p><a href=\"hello-cookie/add\">Add a cookie</a> &bull; <a href=\"hello-cookie/clear\">Clear cookies</a></p>\n        <pre>{{ payload }}</pre>\n    </body>\n</html>","x":860,"y":3040,"wires":[["3562cce.fedca34"]]},{"id":"3562cce.fedca34","type":"http response","z":"a063fdd3.e41ca","name":"","x":1080,"y":3040,"wires":[]},{"id":"9cea8264.e03fb","type":"change","z":"a063fdd3.e41ca","name":"Redirect to /hello-cookie","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/hello-cookie","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":3100,"wires":[["3562cce.fedca34"]]},{"id":"27854aec.447466","type":"function","z":"a063fdd3.e41ca","name":"Add a cookie","func":"msg.cookies = { };\nmsg.cookies[\"demo-\"+(Math.floor(Math.random()*1000))] = Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":3080,"wires":[["9cea8264.e03fb"]]},{"id":"450b1b6f.1d7914","type":"function","z":"a063fdd3.e41ca","name":"Clear cookies","func":"// Find demo cookies and clear them\nvar cookieNames = Object.keys(msg.req.cookies).filter(function(cookieName) { return /^demo-/.test(cookieName);});\nmsg.cookies = {};\n\ncookieNames.forEach(function(cookieName) {\n    msg.cookies[cookieName] = null;\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":3120,"wires":[["9cea8264.e03fb"]]},{"id":"22e691fa.f5799e","type":"http in","z":"a063fdd3.e41ca","name":"","url":"/hello-cookie/add","method":"get","upload":false,"swaggerDoc":"","x":470,"y":3080,"wires":[["27854aec.447466"]]},{"id":"ec1605dc.e93768","type":"http in","z":"a063fdd3.e41ca","name":"","url":"/hello-cookie/clear","method":"get","swaggerDoc":"","x":470,"y":3120,"wires":[["450b1b6f.1d7914"]]},{"id":"b7c7be3e.c9a89","type":"inject","z":"a063fdd3.e41ca","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":410,"y":3360,"wires":[["3cac4ff8.72813"]]},{"id":"3cac4ff8.72813","type":"http request","z":"a063fdd3.e41ca","name":"","method":"GET","ret":"txt","url":"https://www.npmjs.com/package/node-red","tls":"","x":574.5,"y":3360,"wires":[["6c5f2280.a96d4c"]]},{"id":"2d5a06d1.aceafa","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":3360,"wires":[]},{"id":"6c5f2280.a96d4c","type":"html","z":"a063fdd3.e41ca","name":"","property":"payload","tag":"h2","ret":"text","as":"single","x":721.5,"y":3360,"wires":[["2d5a06d1.aceafa"]]},{"id":"2a591937.4ff4c6","type":"http request","z":"a063fdd3.e41ca","name":"","method":"GET","ret":"txt","url":"","tls":"","x":740,"y":3520,"wires":[["54739a6c.90f624","b9b0bc04.e6b17"]]},{"id":"efd706e3.1f7178","type":"inject","z":"a063fdd3.e41ca","name":"cars on craigslist","topic":"","payload":"http://vancouver.craigslist.org/search/sss?format=rss&query=cars","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":3520,"wires":[["7fd9d694.378158"]]},{"id":"7fd9d694.378158","type":"change","z":"a063fdd3.e41ca","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":3520,"wires":[["2a591937.4ff4c6"]]},{"id":"54739a6c.90f624","type":"xml","z":"a063fdd3.e41ca","name":"","property":"payload","attr":"","chr":"","x":900,"y":3580,"wires":[["9f4690dc.ec81b"]]},{"id":"9f4690dc.ec81b","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":3580,"wires":[]},{"id":"b9b0bc04.e6b17","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":3480,"wires":[]},{"id":"553c3305.117f6c","type":"http request","z":"a063fdd3.e41ca","name":"","method":"GET","ret":"txt","url":"https://jsonplaceholder.typicode.com/posts/{{post}}","tls":"","x":640,"y":3860,"wires":[["b0441733.f299b8"]]},{"id":"b0441733.f299b8","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"console":"false","complete":"payload","x":800,"y":3860,"wires":[]},{"id":"52045a1d.ce8244","type":"inject","z":"a063fdd3.e41ca","name":"post id","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":340,"y":3860,"wires":[["1c4ac708.020539"]]},{"id":"1c4ac708.020539","type":"change","z":"a063fdd3.e41ca","name":"","rules":[{"t":"set","p":"post","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":3860,"wires":[["553c3305.117f6c"]]},{"id":"d2924f65.d325a","type":"http request","z":"a063fdd3.e41ca","name":"","method":"GET","ret":"txt","url":"https://query.yahooapis.com/v1/public/yql?q={{{query}}}&format=json","tls":"","x":680,"y":4020,"wires":[["4aa9cf9f.2c7dc"]]},{"id":"4aa9cf9f.2c7dc","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":840,"y":4020,"wires":[]},{"id":"455059ad.1997f8","type":"inject","z":"a063fdd3.e41ca","name":"query parameter","topic":"","payload":"select astronomy.sunset from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"maui, hi\")","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":330,"y":4020,"wires":[["b28c324.a805ed"]]},{"id":"b28c324.a805ed","type":"change","z":"a063fdd3.e41ca","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":4020,"wires":[["d2924f65.d325a"]]},{"id":"eedbbb9f.a48608","type":"http request","z":"a063fdd3.e41ca","name":"","method":"GET","ret":"obj","url":"https://jsonplaceholder.typicode.com/posts/{{post}}","tls":"","x":660,"y":4160,"wires":[["546aa4c2.99427c"]]},{"id":"546aa4c2.99427c","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.title","x":840,"y":4160,"wires":[]},{"id":"b8fc2e97.d72bc","type":"inject","z":"a063fdd3.e41ca","name":"post id","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":360,"y":4160,"wires":[["d58298e4.25cfc8"]]},{"id":"d58298e4.25cfc8","type":"change","z":"a063fdd3.e41ca","name":"","rules":[{"t":"set","p":"post","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":4160,"wires":[["eedbbb9f.a48608"]]},{"id":"8c12697c.6c8bb8","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":4260,"wires":[["c4facba2.1f0078"]]},{"id":"c4facba2.1f0078","type":"http request","z":"a063fdd3.e41ca","name":"binary http request","method":"GET","ret":"bin","url":"http://localhost:1880/binary","tls":"","x":540,"y":4260,"wires":[["19600327.92e60d"]]},{"id":"19600327.92e60d","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"console":"false","complete":"false","x":720,"y":4260,"wires":[]},{"id":"f341b2c0.059be","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":350,"y":4340,"wires":[["8fdcd196.97b01"]]},{"id":"76bd91d6.d9e27","type":"http request","z":"a063fdd3.e41ca","name":"post to FRED","method":"POST","ret":"txt","url":"http://mike.fred.sensetecnic.com/api/test","tls":"","x":750,"y":4340,"wires":[["53023189.f2e7a"]]},{"id":"8fdcd196.97b01","type":"function","z":"a063fdd3.e41ca","name":"set payload and headers","func":"msg.payload = \"data to post\";\nmsg.headers = {};\nmsg.headers['X-Auth-User'] = 'mike';\nmsg.headers['X-Auth-Key'] = 'fred-key';\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":4340,"wires":[["76bd91d6.d9e27"]]},{"id":"53023189.f2e7a","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":920,"y":4340,"wires":[]},{"id":"20043911.9abb46","type":"mqtt out","z":"a063fdd3.e41ca","name":"","topic":"sensors/livingroom/temp","qos":"","retain":"","broker":"119388cd.a2a427","x":530,"y":4560,"wires":[]},{"id":"686a1ecb.d8cb3","type":"inject","z":"a063fdd3.e41ca","name":"","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":350,"y":4560,"wires":[["20043911.9abb46"]]},{"id":"cee9a650.392fb8","type":"mqtt in","z":"a063fdd3.e41ca","name":"","topic":"sensors/livingroom/temp","qos":"2","broker":"119388cd.a2a427","x":370,"y":4640,"wires":[["762d1625.b0b178"]]},{"id":"762d1625.b0b178","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"console":"false","complete":"false","x":570,"y":4640,"wires":[]},{"id":"9b917173.6b8db","type":"comment","z":"a063fdd3.e41ca","name":"发布","info":"","x":540,"y":4520,"wires":[]},{"id":"58d84572.19166c","type":"comment","z":"a063fdd3.e41ca","name":"订阅","info":"","x":370,"y":4700,"wires":[]},{"id":"dc36f66c.b91e18","type":"mqtt out","z":"a063fdd3.e41ca","name":"","topic":"","qos":"","retain":"true","broker":"b744ca98.506c18","x":590,"y":4760,"wires":[]},{"id":"f1b08de4.92ed5","type":"inject","z":"a063fdd3.e41ca","name":"kitchen temperature","topic":"sensors/kitchen/temperature","payload":"kitchen","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":4780,"wires":[["dc36f66c.b91e18"]]},{"id":"e77d607f.ee0d2","type":"mqtt out","z":"a063fdd3.e41ca","name":"","topic":"sensors/livingroom/temp","qos":"","retain":"true","broker":"86b51779.6a9768","x":550,"y":4860,"wires":[]},{"id":"8aca4b4b.301ef8","type":"inject","z":"a063fdd3.e41ca","name":"temperature","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":350,"y":4860,"wires":[["e77d607f.ee0d2"]]},{"id":"cfb60239.bd874","type":"mqtt in","z":"a063fdd3.e41ca","name":"","topic":"sensors/#","qos":"2","broker":"7a45856b.cf8b6c","x":340,"y":4940,"wires":[["1edcd235.a50aee"]]},{"id":"1edcd235.a50aee","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"console":"false","complete":"false","x":550,"y":4960,"wires":[]},{"id":"44f5076f.f5d1d8","type":"mqtt in","z":"a063fdd3.e41ca","name":"","topic":"sensors/#","qos":"2","broker":"fba433d.c7b3bd","x":1100,"y":4600,"wires":[["dc1dec82.64e09"]]},{"id":"ca15f622.edbfd8","type":"debug","z":"a063fdd3.e41ca","name":"","active":true,"console":"false","complete":"false","x":1370,"y":4600,"wires":[]},{"id":"9afe2f2f.213d9","type":"mqtt out","z":"a063fdd3.e41ca","name":"","topic":"sensors/livingroom/temp","qos":"","retain":"false","broker":"fba433d.c7b3bd","x":1150,"y":4540,"wires":[]},{"id":"381f4114.fca73e","type":"inject","z":"a063fdd3.e41ca","name":"temp json","topic":"","payload":"{\"sensor_id\":1234,\"temperature\":13}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":960,"y":4540,"wires":[["9afe2f2f.213d9"]]},{"id":"dc1dec82.64e09","type":"json","z":"a063fdd3.e41ca","name":"","property":"payload","action":"","pretty":false,"x":1230,"y":4600,"wires":[["ca15f622.edbfd8"]]}]