flows_.json
[{"id":"eb1cfe8.e5529","type":"tab","label":"基本","disabled":false,"info":""},{"id":"65ac46cc.b755d8","type":"tab","label":"HTTP","disabled":false,"info":""},{"id":"95113055.d24f8","type":"tab","label":"websocket","disabled":false,"info":""},{"id":"f83eeff1.c7c4b","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"f45f9af.47ac368","type":"tab","label":"MQTT&MySql&Mongo","disabled":false,"info":""},{"id":"e7f21837.eedb18","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"1397e411.ffb7bc","type":"tab","label":"IOT","disabled":false,"info":""},{"id":"b0960878.de5638","type":"tab","label":"action","disabled":false,"info":""},{"id":"f69b460a.ea4438","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"95f1c820.444498","type":"tab","label":"M-Bus_Dashboard","disabled":false,"info":""},{"id":"85255319.4c35b","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"e6a4828c.9b54c","type":"subflow","name":"子流程","info":"","in":[{"x":240,"y":280,"wires":[{"id":"ee2f3583.8ab388"}]}],"out":[{"x":880,"y":320,"wires":[{"id":"7440df03.9c985","port":0}]},{"x":860,"y":400,"wires":[{"id":"f0d71951.a517e8","port":0}]}]},{"id":"c543d0b1.bc1da","type":"websocket-listener","z":"","path":"/ws/chat","wholemsg":"false"},{"id":"d38fc9d7.caddf8","type":"ui_tab","z":"","name":"页面一","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b8e783e5.5a795","type":"ui_group","z":"","name":"表格","tab":"d38fc9d7.caddf8","order":1,"disp":true,"width":"12","collapse":false},{"id":"b2245725.996f28","type":"ui_group","z":"","name":"Gauge图","tab":"d38fc9d7.caddf8","disp":true,"width":"6","collapse":false},{"id":"c18304f5.d1f878","type":"ui_group","z":"","name":"Charts","tab":"7df7c591.8abb2c","order":2,"disp":true,"width":"6","collapse":false},{"id":"9703786c.7fb828","type":"ui_group","z":"","name":"操作按钮","tab":"7df7c591.8abb2c","order":1,"disp":true,"width":"6","collapse":false},{"id":"603cbf13.61d93","type":"ui_group","z":"","name":"Chart2","tab":"7df7c591.8abb2c","order":3,"disp":true,"width":"6","collapse":false},{"id":"7df7c591.8abb2c","type":"ui_tab","z":"","name":"页面二","icon":"dashboard","order":3},{"id":"1cf86676.a177aa","type":"ui_link","z":"","name":"外部链接","link":"https://fanyi.baidu.com/#en/zh/dashboard","icon":"open_in_browser","target":"iframe","order":4},{"id":"a723151d.ffaf58","type":"ui_group","z":"","name":"Radio button list","tab":"7fdeabe9.f5b644","order":3,"disp":true,"width":"12","collapse":false},{"id":"7fdeabe9.f5b644","type":"ui_tab","z":"","name":"Table Examples","icon":"dashboard","order":1},{"id":"945b368d.8dc7f8","type":"ui_group","z":"","name":"One dimension Array","tab":"8cc8473f.faea88","order":1,"disp":true,"width":"6","collapse":false},{"id":"8cc8473f.faea88","type":"ui_tab","z":"","name":"Table Examples","icon":"dashboard","order":1},{"id":"e5e5a9c1.c52ff8","type":"websocket-listener","z":"f83eeff1.c7c4b","path":"/websocket","wholemsg":"false"},{"id":"35b090e3.f4239","type":"ui_group","z":"","name":"Default","tab":"f167a809.2d7df8","disp":true,"width":"6"},{"id":"96b45f2.13308a","type":"ui_group","z":"","name":"Wind","tab":"fb8cd9ff.7f7368","order":1,"disp":true,"width":"6","collapse":false},{"id":"f167a809.2d7df8","type":"ui_tab","z":"","name":"Test","icon":"dashboard","order":4},{"id":"fb8cd9ff.7f7368","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","order":1},{"id":"c4e28f1e.04b87","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":true},"page-backgroundColor":{"value":"#fafafa","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"仪表板","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":12,"gy":12,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6926da77.6ee1d4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ab535cac.6df3a","type":"ibmiot","z":0,"name":"name","keepalive":"60","serverName":"k70zr1.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"1fa436ea.d0fd79","type":"arduino-board","z":0,"device":"COM3"},{"id":"3f71f2e3.4fb62e","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"520526a.d6924d8","type":"ui_group","z":"","name":"曲线图","tab":"d38fc9d7.caddf8","order":3,"disp":true,"width":"6","collapse":false},{"id":"5323d42.4c88e2c","type":"ui_group","z":"","name":"Default Group","tab":"50cac004.c77ed","disp":true,"width":"16"},{"id":"50cac004.c77ed","type":"ui_tab","z":"","name":"Home Tab","icon":"dashboard"},{"id":"e797c763.3f20c8","type":"ui_group","z":"","name":"Group 2","tab":"eff5af7b.b3fef","order":2,"disp":true,"width":"6"},{"id":"eff5af7b.b3fef","type":"ui_tab","z":"95113055.d24f8","name":"New Test","icon":"dashboard"},{"id":"5f068201.6bc97c","type":"ui_group","z":"","name":"testy","tab":"2891e5.2d1a5e1c","disp":true,"width":"8","collapse":false},{"id":"2891e5.2d1a5e1c","type":"ui_tab","z":"","name":"testy","icon":"dashboard"},{"id":"4e661a4f.60e704","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/reactNote","name":"reactNote","options":"","parallelism":"-1"},{"id":"ae1fb373.b928a","type":"mbus-client","z":"","name":"m-bus-tes","clienttype":"tcp","tcpHost":"127.0.0.1","tcpPort":"10001","tcpTimeout":"4000","serialPort":"/dev/ttyUSB","serialBaudrate":"2400","reconnectTimeout":"10000","autoScan":true,"storeDevices":true,"disableLogs":true},{"id":"91c68639.a76bc8","type":"mbus-client","z":"","name":"local","clienttype":"serial","tcpHost":"127.0.0.1","tcpPort":"2000","tcpTimeout":"","serialPort":"/dev/ttyUSB0","serialBaudrate":"2400","reconnectTimeout":"10000","autoScan":true,"storeDevices":true,"disableLogs":true},{"id":"eb92d10.9a42d3","type":"ui_group","z":"","name":"M-Bus Devices","tab":"29acf058.c2976","order":3,"disp":true,"width":"14"},{"id":"c79c44b1.ffa428","type":"ui_group","z":"","name":"Data","tab":"29acf058.c2976","order":4,"disp":true,"width":"14"},{"id":"b170dcf0.fa32f","type":"ui_group","z":"","name":"Commands","tab":"29acf058.c2976","order":2,"disp":true,"width":"14"},{"id":"b32a0f8b.da2f1","type":"ui_group","z":"","name":"Status","tab":"29acf058.c2976","order":1,"disp":true,"width":"14"},{"id":"29acf058.c2976","type":"ui_tab","z":"","name":"M-Bus","icon":"plug","order":1},{"id":"913b155e.0d1b18","type":"serial-port","z":"","serialport":"111","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"79e04d33.8e43c4","type":"ui_group","z":"","name":"加载表格","tab":"d38fc9d7.caddf8","disp":true,"width":"12","collapse":false},{"id":"ba7ff20c.4ad6f","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":300,"wires":[["23b60032.fecc4"]]},{"id":"5454f9cd.2b9738","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":300,"wires":[]},{"id":"23b60032.fecc4","type":"function","z":"eb1cfe8.e5529","name":"funtion name","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":300,"wires":[["5454f9cd.2b9738"]]},{"id":"4bbfe493.ae6f3c","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":420,"wires":[["fcc6c8f8.3d1b48"]]},{"id":"fcc6c8f8.3d1b48","type":"http request","z":"eb1cfe8.e5529","name":"","method":"GET","ret":"txt","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":570,"y":420,"wires":[["97f4926d.abba1"]]},{"id":"97f4926d.abba1","type":"csv","z":"eb1cfe8.e5529","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":780,"y":420,"wires":[["90687729.e63e98","e0fa9bf7.4f3018"]]},{"id":"90687729.e63e98","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":460,"wires":[]},{"id":"e0fa9bf7.4f3018","type":"switch","z":"eb1cfe8.e5529","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":580,"wires":[["94d5f9f3.fdda08"]]},{"id":"94d5f9f3.fdda08","type":"change","z":"eb1cfe8.e5529","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC33333333","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":580,"wires":[["f758ca76.320728"]]},{"id":"f758ca76.320728","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1370,"y":620,"wires":[]},{"id":"f58bd4f.2faf728","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":350,"y":740,"wires":[["7fc3b836.744a08"]]},{"id":"7fc3b836.744a08","type":"change","z":"eb1cfe8.e5529","name":"change 输出一个消息","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"name\":\"daijiaru\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":740,"wires":[["c0066f59.99ad4"]]},{"id":"c0066f59.99ad4","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"console":"false","complete":"false","x":760,"y":740,"wires":[]},{"id":"916d2911.008cd8","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":350,"y":820,"wires":[["1ee0ad0e.d73803"]]},{"id":"6aaf647b.b95c2c","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"console":"false","complete":"false","x":970,"y":820,"wires":[]},{"id":"1ee0ad0e.d73803","type":"change","z":"eb1cfe8.e5529","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"daijiaru","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":820,"wires":[["bdef72c0.4ee12"]]},{"id":"bdef72c0.4ee12","type":"change","z":"eb1cfe8.e5529","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":820,"wires":[["6aaf647b.b95c2c"]]},{"id":"9983ab06.8e69d8","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"Hello主题","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":380,"y":920,"wires":[["9121e5b1.f34b38"]]},{"id":"9121e5b1.f34b38","type":"change","z":"eb1cfe8.e5529","name":"","rules":[{"t":"move","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":920,"wires":[["73efc117.ecdce"]]},{"id":"73efc117.ecdce","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":760,"y":1020,"wires":[]},{"id":"930ccaf7.6575f8","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":350,"y":1120,"wires":[["27ee6d27.0bc192"]]},{"id":"27ee6d27.0bc192","type":"range","z":"eb1cfe8.e5529","minin":"0","maxin":"1023","minout":"0","maxout":"5","action":"clamp","round":false,"property":"payload","name":"","x":570,"y":1160,"wires":[["da9383.01270c8"]]},{"id":"ac7bda28.974748","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"x":350,"y":1160,"wires":[["27ee6d27.0bc192"]]},{"id":"f4761fdc.2ce5b","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"1023","payloadType":"num","repeat":"","crontab":"","once":false,"x":350,"y":1200,"wires":[["27ee6d27.0bc192"]]},{"id":"da9383.01270c8","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":1160,"wires":[]},{"id":"b7fef2ce.8617f","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"2048","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1260,"wires":[["27ee6d27.0bc192"]]},{"id":"60faaae7.f96954","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"start topic","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":1340,"wires":[["e53dd891.4c3148"]]},{"id":"e53dd891.4c3148","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":600,"y":1340,"wires":[]},{"id":"c5914d43.d8aed","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":330,"y":1400,"wires":[["961b1815.6530d8"]]},{"id":"961b1815.6530d8","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"console":"false","complete":"false","x":600,"y":1400,"wires":[]},{"id":"db8b49de.8ef778","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"It is 11.45am on a weekday!","payloadType":"str","repeat":"","crontab":"45 11 * * 1,2,3,4,5","once":false,"onceDelay":"","x":330,"y":1460,"wires":[["9f5c5a0b.2acd38"]]},{"id":"9f5c5a0b.2acd38","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"console":"false","complete":"false","x":610,"y":1460,"wires":[]},{"id":"bedb033f.fb2fd","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":320,"y":220,"wires":[["f8a6191c.8b9c88"]]},{"id":"f8a6191c.8b9c88","type":"template","z":"65ac46cc.b755d8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":470,"y":220,"wires":[["e3aa2f51.8d305"]]},{"id":"e3aa2f51.8d305","type":"http response","z":"65ac46cc.b755d8","name":"","statusCode":"200","headers":{"key":"value"},"x":660,"y":220,"wires":[]},{"id":"3c89e8ea.e10e38","type":"template","z":"65ac46cc.b755d8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>","x":510,"y":300,"wires":[["53c1aa78.d81424"]]},{"id":"b94710e8.5ae62","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello-query","method":"get","upload":false,"swaggerDoc":"","x":340,"y":300,"wires":[["3c89e8ea.e10e38"]]},{"id":"53c1aa78.d81424","type":"http response","z":"65ac46cc.b755d8","name":"","statusCode":"200","headers":{},"x":660,"y":300,"wires":[]},{"id":"f9258d59.3f975","type":"http response","z":"65ac46cc.b755d8","name":"","statusCode":"200","headers":{},"x":720,"y":380,"wires":[]},{"id":"63563a0f.b28d24","type":"template","z":"65ac46cc.b755d8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>","x":570,"y":380,"wires":[["f9258d59.3f975"]]},{"id":"ba9141a0.f1fe5","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello-param/:name","method":"get","upload":false,"swaggerDoc":"","x":370,"y":380,"wires":[["63563a0f.b28d24"]]},{"id":"4d7a8b64.237b24","type":"comment","z":"65ac46cc.b755d8","name":"使用curl 访问localhost:1880相关地址1111","info":"","x":1000,"y":320,"wires":[]},{"id":"81cf41b2.cee2a","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello-headers","method":"get","upload":false,"swaggerDoc":"","x":350,"y":460,"wires":[["adbcd01e.daaa1"]]},{"id":"adbcd01e.daaa1","type":"template","z":"65ac46cc.b755d8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>User agent: {{req.headers.user-agent}}</h1>\n    </body>\n</html>","x":530,"y":460,"wires":[["fa729b22.fff798"]]},{"id":"fa729b22.fff798","type":"http response","z":"65ac46cc.b755d8","name":"","statusCode":"","headers":{},"x":670,"y":460,"wires":[]},{"id":"5cf1ed5a.000864","type":"inject","z":"65ac46cc.b755d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":540,"wires":[["4b781cce.cfb0f4"]]},{"id":"4b781cce.cfb0f4","type":"change","z":"65ac46cc.b755d8","name":"Store time","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":540,"wires":[[]]},{"id":"51acdacc.7ac6d4","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello-data","method":"get","upload":false,"swaggerDoc":"","x":330,"y":580,"wires":[["a93c644c.296aa8"]]},{"id":"2b10d7e0.a9ea58","type":"template","z":"65ac46cc.b755d8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>","x":680,"y":580,"wires":[["8958d0a.f99de3"]]},{"id":"8958d0a.f99de3","type":"http response","z":"65ac46cc.b755d8","name":"","x":820,"y":580,"wires":[]},{"id":"20ce8f3e.6107d","type":"comment","z":"65ac46cc.b755d8","name":"先注入时间戳在发送请求","info":"","x":110,"y":540,"wires":[]},{"id":"a93c644c.296aa8","type":"change","z":"65ac46cc.b755d8","name":"Copy time","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"timestamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":580,"wires":[["2b10d7e0.a9ea58"]]},{"id":"f6c30b72.915aa8","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello-json","method":"get","upload":false,"swaggerDoc":"","x":340,"y":680,"wires":[["43e5d1b1.15727"]]},{"id":"43e5d1b1.15727","type":"template","z":"65ac46cc.b755d8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":510,"y":680,"wires":[["5512d613.b236c8"]]},{"id":"5512d613.b236c8","type":"change","z":"65ac46cc.b755d8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":680,"wires":[["85b237f4.8bffd8"]]},{"id":"85b237f4.8bffd8","type":"http response","z":"65ac46cc.b755d8","name":"","statusCode":"","headers":{},"x":830,"y":680,"wires":[]},{"id":"98c86432.ddf0c8","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello-file","method":"get","upload":false,"swaggerDoc":"","x":330,"y":760,"wires":[["304aa24b.91773e"]]},{"id":"304aa24b.91773e","type":"file in","z":"65ac46cc.b755d8","name":"","filename":"/BaiduYunDownload/yourenA.jpg","format":"","sendError":true,"x":600,"y":760,"wires":[["2f20ae4.dec4052"]]},{"id":"2f20ae4.dec4052","type":"change","z":"65ac46cc.b755d8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpeg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":760,"wires":[["5b58aaec.8e4234"]]},{"id":"5b58aaec.8e4234","type":"http response","z":"65ac46cc.b755d8","name":"","x":1050,"y":760,"wires":[]},{"id":"d8e8888b.312d88","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello-raw","method":"post","upload":false,"swaggerDoc":"","x":340,"y":840,"wires":[["15bd9a76.bd68b6"]]},{"id":"15bd9a76.bd68b6","type":"template","z":"65ac46cc.b755d8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload }}!</h1>\n    </body>\n</html>","x":510,"y":840,"wires":[["d11f6127.46064"]]},{"id":"d11f6127.46064","type":"http response","z":"65ac46cc.b755d8","name":"","x":650,"y":840,"wires":[]},{"id":"5d65dd5e.507744","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello-form","method":"post","upload":false,"swaggerDoc":"","x":340,"y":920,"wires":[["d696bc5c.3153a"]]},{"id":"d696bc5c.3153a","type":"template","z":"65ac46cc.b755d8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":510,"y":920,"wires":[["cf65317f.24213"]]},{"id":"cf65317f.24213","type":"http response","z":"65ac46cc.b755d8","name":"","statusCode":"","headers":{},"x":650,"y":920,"wires":[]},{"id":"f1a93fce.b244e","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello-form","method":"post","upload":false,"swaggerDoc":"","x":360,"y":1020,"wires":[["6b363873.6cae88"]]},{"id":"6b363873.6cae88","type":"template","z":"65ac46cc.b755d8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":530,"y":1020,"wires":[["bd805588.afd1d8"]]},{"id":"bd805588.afd1d8","type":"http response","z":"65ac46cc.b755d8","name":"","x":670,"y":1020,"wires":[]},{"id":"92f1396f.84d7b8","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello-form","method":"post","swaggerDoc":"","x":340,"y":1100,"wires":[["546d0739.80d988"]]},{"id":"546d0739.80d988","type":"template","z":"65ac46cc.b755d8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":530,"y":1100,"wires":[["cb9e8838.b71838"]]},{"id":"cb9e8838.b71838","type":"http response","z":"65ac46cc.b755d8","name":"","x":670,"y":1100,"wires":[]},{"id":"f28e87f6.f94de8","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello-cookie","method":"get","upload":false,"swaggerDoc":"","x":340,"y":1220,"wires":[["1b5a05ee.94d97a"]]},{"id":"1b5a05ee.94d97a","type":"function","z":"65ac46cc.b755d8","name":"Format cookies","func":"msg.payload = JSON.stringify(msg.req.cookies,null,4);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1220,"wires":[["32cb7a12.791886"]]},{"id":"32cb7a12.791886","type":"template","z":"65ac46cc.b755d8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Cookies</h1>\n        <p></p><a href=\"hello-cookie/add\">Add a cookie</a> &bull; <a href=\"hello-cookie/clear\">Clear cookies</a></p>\n        <pre>{{ payload }}</pre>\n    </body>\n</html>","x":740,"y":1220,"wires":[["af6dacdd.27746"]]},{"id":"af6dacdd.27746","type":"http response","z":"65ac46cc.b755d8","name":"","statusCode":"","headers":{},"x":960,"y":1220,"wires":[]},{"id":"d28cf055.29893","type":"change","z":"65ac46cc.b755d8","name":"Redirect to /hello-cookie","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/hello-cookie","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1280,"wires":[["af6dacdd.27746"]]},{"id":"d1889796.bbb5a8","type":"function","z":"65ac46cc.b755d8","name":"Add a cookie","func":"msg.cookies = { };\nmsg.cookies[\"demo-\"+(Math.floor(Math.random()*1000))] = Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1260,"wires":[["d28cf055.29893"]]},{"id":"b9b9077e.6cf6e8","type":"function","z":"65ac46cc.b755d8","name":"Clear cookies","func":"// Find demo cookies and clear them\nvar cookieNames = Object.keys(msg.req.cookies).filter(function(cookieName) { return /^demo-/.test(cookieName);});\nmsg.cookies = {};\n\ncookieNames.forEach(function(cookieName) {\n    msg.cookies[cookieName] = null;\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1300,"wires":[["d28cf055.29893"]]},{"id":"33a50665.c30fca","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello-cookie/add","method":"get","upload":false,"swaggerDoc":"","x":350,"y":1260,"wires":[["d1889796.bbb5a8"]]},{"id":"4e4645ab.304bbc","type":"http in","z":"65ac46cc.b755d8","name":"","url":"/hello-cookie/clear","method":"get","swaggerDoc":"","x":350,"y":1300,"wires":[["b9b9077e.6cf6e8"]]},{"id":"8ce1ce55.7ce7f","type":"comment","z":"65ac46cc.b755d8","name":"HTTP 端点","info":"","x":100,"y":220,"wires":[]},{"id":"2d79c7b4.062c78","type":"comment","z":"65ac46cc.b755d8","name":"HTTP 请求","info":"","x":330,"y":1420,"wires":[]},{"id":"a2557aff.dfad98","type":"inject","z":"65ac46cc.b755d8","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":350,"y":1480,"wires":[["4ccac05b.0e23f"]]},{"id":"4ccac05b.0e23f","type":"http request","z":"65ac46cc.b755d8","name":"","method":"GET","ret":"txt","url":"http://api.water.test.com/available_companies","tls":"","x":514.5,"y":1480,"wires":[["31e7eb05.8206a4"]]},{"id":"31e7eb05.8206a4","type":"debug","z":"65ac46cc.b755d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":1480,"wires":[]},{"id":"89ce2e66.7ff5e","type":"http request","z":"65ac46cc.b755d8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":720,"y":1580,"wires":[["7a72e64d.164088"]]},{"id":"4dad404e.a5b48","type":"inject","z":"65ac46cc.b755d8","name":"cars on craigslist","topic":"","payload":"http://vancouver.craigslist.org/search/sss?format=rss&query=cars","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":350,"y":1580,"wires":[["3430205b.2394b"]]},{"id":"3430205b.2394b","type":"change","z":"65ac46cc.b755d8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1580,"wires":[["89ce2e66.7ff5e"]]},{"id":"7a72e64d.164088","type":"debug","z":"65ac46cc.b755d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":1580,"wires":[]},{"id":"adfd6679.0901b8","type":"http request","z":"65ac46cc.b755d8","name":"","method":"GET","ret":"obj","url":"https://jsonplaceholder.typicode.com/posts/{{post}}","tls":"","x":620,"y":1660,"wires":[["1d03c9ad.2868b6"]]},{"id":"1d03c9ad.2868b6","type":"debug","z":"65ac46cc.b755d8","name":"","active":true,"console":"false","complete":"payload","x":780,"y":1660,"wires":[]},{"id":"34525c6d.a0bd84","type":"inject","z":"65ac46cc.b755d8","name":"post id","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":290,"y":1660,"wires":[["3b2d9a38.6022e6"]]},{"id":"3b2d9a38.6022e6","type":"change","z":"65ac46cc.b755d8","name":"","rules":[{"t":"set","p":"post","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1660,"wires":[["adfd6679.0901b8"]]},{"id":"b0c57e59.c7e57","type":"http request","z":"65ac46cc.b755d8","name":"","method":"GET","ret":"txt","url":"https://query.yahooapis.com/v1/public/yql?q={{{query}}}&format=json","tls":"","x":700,"y":1760,"wires":[["cfc5e32b.f9632"]]},{"id":"cfc5e32b.f9632","type":"debug","z":"65ac46cc.b755d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":1760,"wires":[]},{"id":"cf7c771.efd1b88","type":"inject","z":"65ac46cc.b755d8","name":"query parameter","topic":"","payload":"select astronomy.sunset from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"maui, hi\")","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":350,"y":1760,"wires":[["88a729a0.38ab58"]]},{"id":"88a729a0.38ab58","type":"change","z":"65ac46cc.b755d8","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1760,"wires":[["b0c57e59.c7e57"]]},{"id":"ab4a66f1.6ad638","type":"inject","z":"65ac46cc.b755d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":1840,"wires":[["d2d16808.2122c8"]]},{"id":"d2d16808.2122c8","type":"http request","z":"65ac46cc.b755d8","name":"binary http request","method":"GET","ret":"bin","url":"http://localhost:1880/binary","tls":"","x":480,"y":1840,"wires":[["6c910a8d.e8a614"]]},{"id":"6c910a8d.e8a614","type":"debug","z":"65ac46cc.b755d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":1840,"wires":[]},{"id":"cf7a563c.4aaa88","type":"http request","z":"65ac46cc.b755d8","name":"","method":"POST","ret":"obj","url":"https://jsonplaceholder.typicode.com/posts/{{post}}","tls":"","x":620,"y":1920,"wires":[["5f425a05.df0954"]]},{"id":"5f425a05.df0954","type":"debug","z":"65ac46cc.b755d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":1920,"wires":[]},{"id":"c9d31a8f.ebda38","type":"inject","z":"65ac46cc.b755d8","name":"post id","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":320,"y":1920,"wires":[["511ae9c5.60a618"]]},{"id":"511ae9c5.60a618","type":"change","z":"65ac46cc.b755d8","name":"","rules":[{"t":"set","p":"post","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1920,"wires":[["cf7a563c.4aaa88"]]},{"id":"fbe5a9e9.927678","type":"inject","z":"65ac46cc.b755d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":2000,"wires":[["d98e51d3.30734"]]},{"id":"c40fb26d.298d8","type":"http request","z":"65ac46cc.b755d8","name":"post to FRED","method":"POST","ret":"txt","url":"http://mike.fred.sensetecnic.com/api/test","tls":"","x":710,"y":2000,"wires":[["b66f593d.c32f58"]]},{"id":"d98e51d3.30734","type":"function","z":"65ac46cc.b755d8","name":"set payload and headers","func":"msg.payload = \"data to post\";\nmsg.headers = {};\nmsg.headers['X-Auth-User'] = 'mike';\nmsg.headers['X-Auth-Key'] = 'fred-key';\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2000,"wires":[["c40fb26d.298d8"]]},{"id":"b66f593d.c32f58","type":"debug","z":"65ac46cc.b755d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":880,"y":2000,"wires":[]},{"id":"798bbd6a.6f3e24","type":"websocket in","z":"95113055.d24f8","name":"admin","server":"c543d0b1.bc1da","client":"","x":250,"y":480,"wires":[["bbdcca10.345758"]]},{"id":"bbdcca10.345758","type":"function","z":"95113055.d24f8","name":"admin","func":"node.log(\"Log message\")\nreturn msg\n","outputs":1,"noerr":0,"x":444,"y":480,"wires":[["82c7569.c72d3a8"]]},{"id":"82c7569.c72d3a8","type":"websocket out","z":"95113055.d24f8","name":"","server":"c543d0b1.bc1da","client":"","x":630,"y":480,"wires":[]},{"id":"adc61d47.b00c8","type":"http in","z":"95113055.d24f8","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":278,"y":548,"wires":[["a7524bb.7921fb8"]]},{"id":"a7524bb.7921fb8","type":"template","z":"95113055.d24f8","name":"admin","field":"payload","fieldType":"msg","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":444,"y":548,"wires":[["b7f64547.ac2db8"]]},{"id":"b7f64547.ac2db8","type":"http response","z":"95113055.d24f8","name":"","statusCode":"","headers":{},"x":587,"y":548,"wires":[]},{"id":"47ffdb30.9844e4","type":"comment","z":"95113055.d24f8","name":"打开http://localhost:1880/chat","info":"","x":310,"y":400,"wires":[]},{"id":"ccd7e655.4690f8","type":"comment","z":"95113055.d24f8","name":"启动一个 /ws/chat 的websocket服务器","info":"","x":870,"y":480,"wires":[]},{"id":"21e115f2.ff899a","type":"comment","z":"95113055.d24f8","name":"定义一个路径为 /chat 的 http服务器 ","info":"定义了/chat 路径后，可以直接在浏览器打开/chat路径","x":820,"y":548,"wires":[]},{"id":"6432c7c1.2fece8","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":1740,"wires":[["16796309.80861d"]]},{"id":"16796309.80861d","type":"change","z":"eb1cfe8.e5529","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hello World!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1740,"wires":[["3162ad04.33c2b2"]]},{"id":"3162ad04.33c2b2","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":1740,"wires":[]},{"id":"9d2672cb.ac383","type":"range","z":"eb1cfe8.e5529","minin":"0","maxin":"1023","minout":"0","maxout":"5","action":"scale","round":false,"property":"payload","name":"","x":570,"y":1900,"wires":[["9f84e784.7d5768"]]},{"id":"9f84e784.7d5768","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":703,"y":1949.8500061035156,"wires":[]},{"id":"ba7a4c8e.f9ec","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":308,"y":1888.7000122070312,"wires":[["1d84e615.b161ea"]]},{"id":"1d84e615.b161ea","type":"random","z":"eb1cfe8.e5529","name":"","low":"0","high":"1023","inte":"false","property":"payload","x":434,"y":1949,"wires":[["9d2672cb.ac383"]]},{"id":"6e14e8a1.6a5968","type":"function","z":"eb1cfe8.e5529","name":"","func":"if (msg.payload.weather === \"Clear\") {\n    msg.payload = \"广州今儿是个好天气 !\";\n    return msg;\n\n}else if(msg.payload.weather === \"Clouds\"){\n    msg.payload = \"广州今儿天气有点糟糕\" ;\n    return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":2040,"wires":[[]]},{"id":"88151cf5.be1d7","type":"openweathermap","z":"eb1cfe8.e5529","name":"","wtype":"current","lon":"","lat":"","city":"Guangzhou","country":"Chine","language":"en","x":550,"y":2140,"wires":[["2ef7b950.f7c7e6","92a64a86.f8f3b8"]]},{"id":"21c0063a.d21eea","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":320,"y":2140,"wires":[["88151cf5.be1d7"]]},{"id":"2ef7b950.f7c7e6","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":2140,"wires":[]},{"id":"a133bdd0.a1314","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"b8e783e5.5a795","order":1,"width":"0","height":"0","passthru":false,"label":"更新","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":250,"y":240,"wires":[["935dff91.3ebd9","264fbe68.7aafc2","ea6e211d.f4af2"]]},{"id":"8b9af1fc.2356b","type":"ui_text","z":"f83eeff1.c7c4b","group":"b8e783e5.5a795","order":2,"width":0,"height":0,"name":"","label":"上海气温","format":"{{msg.payload}}","layout":"row-center","x":960,"y":180,"wires":[]},{"id":"935dff91.3ebd9","type":"http request","z":"f83eeff1.c7c4b","name":"","method":"GET","ret":"txt","url":"http://www.weather.com.cn/data/cityinfo/101020100.html","tls":"","x":480,"y":200,"wires":[["75749404.54fbdc"]]},{"id":"75749404.54fbdc","type":"json","z":"f83eeff1.c7c4b","name":"","property":"payload","action":"","pretty":false,"x":630,"y":200,"wires":[["e9f85e9d.da84d"]]},{"id":"e9f85e9d.da84d","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var r = msg.payload.weatherinfo;\nmsg.payload = r.temp1 + '~' + r.temp2 + ' ' + r.weather;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":200,"wires":[["8b9af1fc.2356b"]]},{"id":"264fbe68.7aafc2","type":"http request","z":"f83eeff1.c7c4b","name":"","method":"GET","ret":"txt","url":"http://www.weather.com.cn/data/cityinfo/101010100.html","tls":"","x":480,"y":240,"wires":[["32473ebf.e5fbc2"]]},{"id":"ea6e211d.f4af2","type":"http request","z":"f83eeff1.c7c4b","name":"","method":"GET","ret":"txt","url":"http://api.water.test.com/manufacturers?page=1","tls":"","x":480,"y":280,"wires":[["1ec33224.96cf7e"]]},{"id":"481a7a72.e22d64","type":"ui_text","z":"f83eeff1.c7c4b","group":"b8e783e5.5a795","order":3,"width":0,"height":0,"name":"","label":"北京气温","format":"{{msg.payload}}","layout":"row-center","x":940,"y":240,"wires":[]},{"id":"32473ebf.e5fbc2","type":"json","z":"f83eeff1.c7c4b","name":"","property":"payload","action":"","pretty":false,"x":630,"y":240,"wires":[["13567d34.1496d3","337c0b9b.3259f4"]]},{"id":"13567d34.1496d3","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var r = msg.payload.weatherinfo;\nmsg.payload = r.temp1 + '~' + r.temp2 + ' ' + r.weather;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":240,"wires":[["481a7a72.e22d64"]]},{"id":"dc9a2251.27e35","type":"ui_text","z":"f83eeff1.c7c4b","group":"b8e783e5.5a795","order":4,"width":0,"height":0,"name":"","label":"深圳气温","format":"{{msg.payload}}","layout":"row-center","x":940,"y":280,"wires":[]},{"id":"1ec33224.96cf7e","type":"json","z":"f83eeff1.c7c4b","name":"","property":"payload","action":"","pretty":false,"x":630,"y":280,"wires":[["ac5ab333.f5f0e"]]},{"id":"337c0b9b.3259f4","type":"function","z":"f83eeff1.c7c4b","name":"admin","func":"var r = msg.payload.weatherinfo;\nmsg.payload = r.temp1 + '~' + r.temp2 + ' ' + r.weather;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["dc9a2251.27e35"]]},{"id":"c676f699.cfad08","type":"inject","z":"f83eeff1.c7c4b","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":240,"wires":[["a133bdd0.a1314"]]},{"id":"3e1cfd8c.081be2","type":"http in","z":"f83eeff1.c7c4b","name":"","url":"/todo","method":"get","upload":false,"swaggerDoc":"","x":170,"y":560,"wires":[["464411a0.43abd"]]},{"id":"b4245e49.9fe4a","type":"http response","z":"f83eeff1.c7c4b","name":"","statusCode":"","headers":{},"x":650,"y":560,"wires":[]},{"id":"464411a0.43abd","type":"template","z":"f83eeff1.c7c4b","name":"admin","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n\t<title>To Do</title>\n  <link href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\">\n\t<link href=\"https://fonts.googleapis.com/css?family=Roboto\" rel=\"stylesheet\">\n\t<link rel=\"stylesheet\" href=\"/todo.css\" title=\"\" type=\"\" />\n\t<script src=\"https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js\"></script>\n</head>\n<body>\n<div id=\"container\">\n\t<h1>To-Do List<i class=\"fa fa-plus\"></i></h1>\n\t<div class=\"slide\">\n\t\t<input type=\"text\" placeholder=\"New Item\">\n\t</div>\n\t\n\n\t<ul>\n\t\t<li><span><i class=\"fa fa-trash-o\"></i></span>Add a To-Do</li>\n\t\t<li><span><i class=\"fa fa-trash-o\"></i></span>Delete a To-Do</li>\n\t\t<li><span><i class=\"fa fa-trash-o\"></i></span>Check off a To-Do</li>\n\t</ul>\n</div>\n\n<script type=\"text/javascript\" src=\"/todo.js\"></script>\n</body>\n</html>","output":"str","x":410,"y":560,"wires":[["b4245e49.9fe4a"]]},{"id":"764c00e4.4590b","type":"http in","z":"f83eeff1.c7c4b","name":"","url":"/todo.css","method":"get","upload":false,"swaggerDoc":"","x":170,"y":620,"wires":[["e5339dc2.2256d"]]},{"id":"3a0e6e2b.a6b8c2","type":"http response","z":"f83eeff1.c7c4b","name":"","statusCode":"","headers":{},"x":640,"y":620,"wires":[]},{"id":"e5339dc2.2256d","type":"template","z":"f83eeff1.c7c4b","name":"","field":"payload","fieldType":"msg","format":"css","syntax":"mustache","template":"body{\n\tfont-family: 'Roboto', sans-serif;\n\tbackground: linear-gradient(to left, #c0c0aa , #1ce);\n}\n\nh1 {\n\tbackground: #2980b9;\n\tcolor: white;\n\tmargin: 0;\n\tpadding: 10px 20px;\n\ttext-transform: uppercase;\n\tfont-size: 24px;\n\tfont-weight: normal;\n}\n\nh1 i {\n\tfloat: right;\n\tcursor: pointer;\n}\n\n#container {\n\twidth: 360px;\n\tmargin: 100px auto;\n\tbox-shadow: 0 0 3px rgba(0,0,0,0.5);\n\tbackground: #f7f7f7;\n}\n\nul {\n\tlist-style: none;\n\tmargin: 0;\n\tpadding: 0;\n}\n\n#container li {\n\tcursor: pointer;\n\tbackground: white;\n\theight: 40px;\n\tline-height: 40px;\n\tcolor: #666;\n}\n\n#container li:nth-child(2n) {\n\tbackground: #f7f7f7;\n}\n\n.completed {\n\ttext-decoration: line-through;\n\tcolor: gray;\n}\n\ninput {\n\tfont-size: 18px;\n\tbackground-color: #f7f7f7;\n\twidth: 100%;\n\tpadding: 13px 13px 13px 20px;\n\tbox-sizing: border-box;\n\tcolor: #2980b9;\n\tborder: 3px solid rgba(0,0,0,0);\n\t\n}\n\n.slide {\n\tdisplay: none;\n}\n\ninput:focus{\n\tbackground: white;\n\toutline: none;\n\tborder: 3px solid #2980b9;\n}\n\nli span {\n\tbackground: #e74c3c;\n\tcolor: white;\n\theight: 40px;\n\tdisplay: inline-block;\n\tmargin-right: 20px;\n\twidth: 0;\n\ttransition: all .5s;\n\ttext-align: center;\n\topacity: 0;\n\t    vertical-align: bottom;\n}\n\nli:hover span {\n\twidth: 40px;\n\topacity: 1;\n}","output":"str","x":400,"y":620,"wires":[["3a0e6e2b.a6b8c2"]]},{"id":"705625d3.c3174c","type":"http in","z":"f83eeff1.c7c4b","name":"","url":"/todo.js","method":"get","upload":false,"swaggerDoc":"","x":170,"y":680,"wires":[["224a63c.85c749c"]]},{"id":"4f85a471.078dfc","type":"http response","z":"f83eeff1.c7c4b","name":"","statusCode":"","headers":{},"x":640,"y":680,"wires":[]},{"id":"224a63c.85c749c","type":"template","z":"f83eeff1.c7c4b","name":"","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"$(document).on(\"click\", \"li\", function(){\n\t$(this).toggleClass(\"completed\");\n});\n\n$(document).on(\"click\", \"li span\", function(){\n\t$(this).parent().fadeOut(function(){\n\t\t$(this).remove();\n\t});\n})\n\n$(\"input[type='text']\").on(\"keypress\", function(){\n\tif(event.which == 13){\n\t\tvar newItem = \"<li><span><i class='fa fa-trash-o'></i></span>\" + $(this).val() + \"</li>\";\n\t\t$(\"ul\").append(newItem);\n\t\t$(this).val(\"\");\n\t}\n});\n\n$(\"h1 i\").click(function(){\n\t$(\".slide\").slideToggle();\n});\n","output":"str","x":400,"y":680,"wires":[["4f85a471.078dfc"]]},{"id":"30dee12.5e9331e","type":"mosca in","z":"f45f9af.47ac368","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"daijiaru","password":"123456","dburl":"","x":470,"y":520,"wires":[[]]},{"id":"12b1a682.16ca69","type":"inject","z":"f45f9af.47ac368","name":"发布本地mqtt内容","topic":"","payload":"fafafafa","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":640,"wires":[["e28366b7.86f008"]]},{"id":"e28366b7.86f008","type":"mqtt out","z":"f45f9af.47ac368","name":"","topic":"presence","qos":"","retain":"","broker":"6926da77.6ee1d4","x":750,"y":640,"wires":[]},{"id":"6f8eb04f.dbace","type":"mqtt in","z":"f45f9af.47ac368","name":"","topic":"/topic/1","qos":"2","broker":"6926da77.6ee1d4","x":430,"y":800,"wires":[["9094b5d4.40cf18"]]},{"id":"e5bd8fa.5b3c17","type":"debug","z":"f45f9af.47ac368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":800,"wires":[]},{"id":"9094b5d4.40cf18","type":"function","z":"f45f9af.47ac368","name":"","func":"msg.payload='转换mqtt内容';\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":800,"wires":[["e5bd8fa.5b3c17"]]},{"id":"c6a4eda0.b2df7","type":"inject","z":"f45f9af.47ac368","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":920,"wires":[["88637b60.d20588"]]},{"id":"88637b60.d20588","type":"openweathermap","z":"f45f9af.47ac368","name":"Weather ","wtype":"current","lon":"","lat":"","city":"Guangzhou","country":"China","language":"en","x":596,"y":958,"wires":[["56153e63.cf88b","e6cb2585.55b168"]]},{"id":"2bbfcb20.fa9bc4","type":"inject","z":"f45f9af.47ac368","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":"","x":312,"y":975,"wires":[["88637b60.d20588"]]},{"id":"56153e63.cf88b","type":"debug","z":"f45f9af.47ac368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":895,"y":979,"wires":[]},{"id":"e6cb2585.55b168","type":"function","z":"f45f9af.47ac368","name":"createWarning","func":"msg.payload='今天天气是'+msg.payload.weather;\nreturn msg;","outputs":1,"noerr":0,"x":752,"y":1081,"wires":[["285c04b1.3fa0ec","13dd587e.bb9ee8"]]},{"id":"285c04b1.3fa0ec","type":"e-mail","z":"f45f9af.47ac368","server":"smtp.qq.com","port":"465","secure":true,"name":"13265958173@163.com","dname":"","x":970,"y":1160,"wires":[]},{"id":"13dd587e.bb9ee8","type":"debug","z":"f45f9af.47ac368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":1079,"wires":[]},{"id":"e0770523.28b3b8","type":"comment","z":"f45f9af.47ac368","name":"密码为授权码","info":"","x":1170,"y":1160,"wires":[]},{"id":"be0e8eff.81643","type":"comment","z":"f45f9af.47ac368","name":"可以打开mqtt.fx测试","info":"注意不要点击升级，否则会报错","x":490,"y":280,"wires":[]},{"id":"8c804489.19a0d8","type":"inject","z":"eb1cfe8.e5529","name":"Send Random Value","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":343,"y":2360,"wires":[["52e1d89c.39d128"]]},{"id":"52e1d89c.39d128","type":"function","z":"eb1cfe8.e5529","name":"","func":"msg.payload={value:Math.floor(Math.random()*100)};\nreturn msg;","outputs":1,"noerr":0,"x":577,"y":2360,"wires":[["c411205f.c3621"]]},{"id":"c411205f.c3621","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":2440,"wires":[]},{"id":"6fdabaf4.b2ea44","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"high","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":60,"wires":[["ea8a6a55.a11228"]]},{"id":"e8aef49a.919398","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"med","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":120,"wires":[["ea8a6a55.a11228"]]},{"id":"edc75a3a.027b98","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"low","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":180,"wires":[["ea8a6a55.a11228"]]},{"id":"ea8a6a55.a11228","type":"function","z":"eb1cfe8.e5529","name":"","func":"if(msg.payload ==\"high\"){\n  return [msg,null,null];\n} else if(msg.payload ==\"med\"){\n   return [null,msg,null];\n} else {\n   return [null,null,msg];\n}","outputs":3,"noerr":0,"x":590,"y":120,"wires":[["71c5c77e.6ca398"],["28ae6917.fc26d6"],["ab72dbcb.ee8688"]]},{"id":"71c5c77e.6ca398","type":"debug","z":"eb1cfe8.e5529","name":"high","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":840,"y":60,"wires":[]},{"id":"28ae6917.fc26d6","type":"debug","z":"eb1cfe8.e5529","name":"med","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":840,"y":120,"wires":[]},{"id":"ab72dbcb.ee8688","type":"debug","z":"eb1cfe8.e5529","name":"low","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":842,"y":179,"wires":[]},{"id":"609ce767.c39e48","type":"comment","z":"eb1cfe8.e5529","name":"http://127.0.0.1:1880/freeboard/#start-60418","info":"","x":1070,"y":2280,"wires":[]},{"id":"92a64a86.f8f3b8","type":"ui_gauge","z":"eb1cfe8.e5529","name":"","group":"b2245725.996f28","order":0,"width":0,"height":0,"gtype":"gage","title":"123","label":"摄氏度℃","format":" {{msg.payload.clouds}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","x":810,"y":2280,"wires":[]},{"id":"30f8114e.d9f8ae","type":"comment","z":"f83eeff1.c7c4b","name":"http://127.0.0.1:1880/ui/","info":"","x":460,"y":400,"wires":[]},{"id":"18e07827.1f1478","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":330,"y":1100,"wires":[["11c30c1a.218bc4","18ba514b.20053f","ff571bc6.47e388","773cc504.1796ec"]]},{"id":"11c30c1a.218bc4","type":"ui_chart","z":"f83eeff1.c7c4b","name":"","group":"c18304f5.d1f878","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"没有数据","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"8","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":620,"y":780,"wires":[]},{"id":"d089ced1.aea85","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[\n  [\n    {\n      \"x\": 2016,\n      \"y\": 5\n    },\n    {\n      \"x\": 2017,\n      \"y\": 4\n    },\n    {\n      \"x\": 2018,\n      \"y\": 2\n    }\n  ],\n  [\n    {\n      \"x\": 2016,\n      \"y\": 6\n    },\n    {\n      \"x\": 2017,\n      \"y\": 7\n    },\n    {\n      \"x\": 2018,\n      \"y\": 6\n    }\n  ],\n  [\n    {\n      \"x\": 2016,\n      \"y\": 7\n    },\n    {\n      \"x\": 2017,\n      \"y\": 9\n    },\n    {\n      \"x\": 2018,\n      \"y\": 7\n    }\n  ]\n],\n    \"labels\":[\"2016\",\"2017\",\"2018\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":940,"wires":[["11c30c1a.218bc4"]]},{"id":"45850739.bfa4b8","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"9703786c.7fb828","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":940,"wires":[["d089ced1.aea85"]]},{"id":"18ba514b.20053f","type":"ui_chart","z":"f83eeff1.c7c4b","name":"","group":"c18304f5.d1f878","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":620,"y":880,"wires":[]},{"id":"5bf9235b.70e2dc","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"9703786c.7fb828","order":6,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":1100,"wires":[["18e07827.1f1478"]]},{"id":"e620074f.70ccd8","type":"random","z":"f83eeff1.c7c4b","name":"","low":"1","high":"10000000","inte":"true","property":"payload","x":340,"y":1300,"wires":[["11c30c1a.218bc4"]]},{"id":"9f486856.105db8","type":"inject","z":"f83eeff1.c7c4b","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":1300,"wires":[["e620074f.70ccd8"]]},{"id":"85aabcf4.84de5","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":330,"y":1140,"wires":[["11c30c1a.218bc4","18ba514b.20053f","ff571bc6.47e388","773cc504.1796ec"]]},{"id":"6df16511.8350ec","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"9703786c.7fb828","order":7,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":1140,"wires":[["85aabcf4.84de5"]]},{"id":"ec2373ac.2b217","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n     \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":980,"wires":[["11c30c1a.218bc4"]]},{"id":"b421258f.646888","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"9703786c.7fb828","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":980,"wires":[["ec2373ac.2b217"]]},{"id":"a9f44c52.56078","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":350,"y":1340,"wires":[["773cc504.1796ec","18ba514b.20053f","11c30c1a.218bc4","f05a6207.e35d4","2a127790.445358","ff571bc6.47e388"]]},{"id":"773cc504.1796ec","type":"ui_chart","z":"f83eeff1.c7c4b","name":"pie chart","group":"c18304f5.d1f878","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":640,"y":1080,"wires":[]},{"id":"73cf97c.d7b6368","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"9703786c.7fb828","order":11,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":190,"y":1340,"wires":[["a9f44c52.56078"]]},{"id":"1b2372d8.68dacd","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n     \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1020,"wires":[["11c30c1a.218bc4"]]},{"id":"ddb26e66.463bb","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"9703786c.7fb828","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":1020,"wires":[["1b2372d8.68dacd"]]},{"id":"f2c27894.f193b8","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1060,"wires":[["11c30c1a.218bc4"]]},{"id":"e745e046.3d4da","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"9703786c.7fb828","order":5,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":1060,"wires":[["f2c27894.f193b8"]]},{"id":"598e1746.91e618","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":330,"y":1260,"wires":[["11c30c1a.218bc4","18ba514b.20053f","773cc504.1796ec","f05a6207.e35d4","2a127790.445358","ff571bc6.47e388"]]},{"id":"355f2b76.1daa94","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"9703786c.7fb828","order":10,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":1260,"wires":[["598e1746.91e618"]]},{"id":"7d8d8647.b6f518","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"9703786c.7fb828","order":12,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":200,"y":1380,"wires":[["419eda01.7d6de4"]]},{"id":"419eda01.7d6de4","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":350,"y":1380,"wires":[["773cc504.1796ec","18ba514b.20053f","2a127790.445358","f05a6207.e35d4","11c30c1a.218bc4","ff571bc6.47e388"]]},{"id":"29e22fd1.90207","type":"function","z":"f83eeff1.c7c4b","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":310,"y":900,"wires":[["18ba514b.20053f","773cc504.1796ec","11c30c1a.218bc4","ff571bc6.47e388"]]},{"id":"e52d0002.b33b","type":"inject","z":"f83eeff1.c7c4b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":900,"wires":[["29e22fd1.90207"]]},{"id":"ba926601.408458","type":"function","z":"f83eeff1.c7c4b","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":330,"y":860,"wires":[["18ba514b.20053f","773cc504.1796ec","11c30c1a.218bc4","ff571bc6.47e388"]]},{"id":"9990dc8d.21d12","type":"inject","z":"f83eeff1.c7c4b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":860,"wires":[["ba926601.408458"]]},{"id":"35e493b2.de3f7c","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":330,"y":1180,"wires":[["18ba514b.20053f","f05a6207.e35d4","2a127790.445358","11c30c1a.218bc4","ff571bc6.47e388","773cc504.1796ec"]]},{"id":"6f64fda3.11d6d4","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"9703786c.7fb828","order":8,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":1180,"wires":[["35e493b2.de3f7c"]]},{"id":"33078dd1.2cec82","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":330,"y":1220,"wires":[["18ba514b.20053f","11c30c1a.218bc4","2a127790.445358","f05a6207.e35d4","ff571bc6.47e388","773cc504.1796ec"]]},{"id":"147f38a0.6e4657","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"9703786c.7fb828","order":9,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":1220,"wires":[["33078dd1.2cec82"]]},{"id":"ff571bc6.47e388","type":"ui_chart","z":"f83eeff1.c7c4b","name":"","group":"603cbf13.61d93","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":620,"y":960,"wires":[]},{"id":"f05a6207.e35d4","type":"ui_chart","z":"f83eeff1.c7c4b","name":"","group":"603cbf13.61d93","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":1200,"wires":[]},{"id":"2a127790.445358","type":"ui_chart","z":"f83eeff1.c7c4b","name":"","group":"603cbf13.61d93","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":1260,"wires":[]},{"id":"ab1e84e3.801778","type":"function","z":"f83eeff1.c7c4b","name":"label","func":"var m = [\n    {label:\"2015\", payload:22, series:\"X\"},\n    {label:\"2016\", payload:66, series:\"X\"},\n    {label:\"2017\", payload:42, series:\"X\"},\n    {label:\"2015\", payload:33, series:\"Y\"},\n    {label:\"2016\", payload:72, series:\"Y\"},\n    {label:\"2017\", payload:12, series:\"Y\"},\n    {label:\"2015\", payload:44, series:\"Z\"},\n    {label:\"2016\", payload:32, series:\"Z\"},\n    {label:\"2017\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":310,"y":800,"wires":[["773cc504.1796ec","18ba514b.20053f","11c30c1a.218bc4","ff571bc6.47e388"]]},{"id":"b505446d.353638","type":"inject","z":"f83eeff1.c7c4b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":820,"wires":[["ab1e84e3.801778"]]},{"id":"a95029c0.4a4038","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"9703786c.7fb828","order":1,"width":0,"height":0,"passthru":false,"label":"Clear All","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":340,"y":740,"wires":[["2a127790.445358","f05a6207.e35d4","773cc504.1796ec","ff571bc6.47e388","18ba514b.20053f","11c30c1a.218bc4"]]},{"id":"10b3d96.3ffaa27","type":"inject","z":"f83eeff1.c7c4b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":740,"wires":[["a95029c0.4a4038"]]},{"id":"67cb159d.f992ec","type":"mysql","z":"f45f9af.47ac368","mydb":"3f71f2e3.4fb62e","name":"MYSQL","x":880,"y":1620,"wires":[["e3d08315.aa97c"]]},{"id":"3f288766.70edf8","type":"function","z":"f45f9af.47ac368","name":"Criteria","func":"//Restrict the query to pull the last 24hrs\n//of data instead of the whole db\nvar date = new Date();\nvar Y = date.getFullYear() + '-';\nvar M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';\nvar D = date.getDate() < 10 ? '0'+date.getDate() + ' ':date.getDate() + ' ';\nvar h = date.getHours() + ':';\nvar m = date.getMinutes() + ':';\nvar s = date.getSeconds();\nmsg.random =msg.payload;\nmsg.time =Y+M+D+h+m+s;\nvar random2=Math.floor(Math.random()*10+1)\nnode.status({text:msg.random});\nmsg.random2 =random2;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1520,"wires":[["d73baa72.2ec368","32696169.4859ae"]]},{"id":"c377e52.30edf18","type":"debug","z":"f45f9af.47ac368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":1580,"wires":[]},{"id":"cdb7cd70.4c047","type":"inject","z":"f45f9af.47ac368","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":1680,"wires":[["5db58af6.058464"]]},{"id":"f54169cc.f22918","type":"comment","z":"f45f9af.47ac368","name":"每一个sql 语句后面要接MYSQL节点","info":"","x":540,"y":1740,"wires":[]},{"id":"ed05fb84.359cb8","type":"template","z":"f45f9af.47ac368","name":"查找全部","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM dbasename ","output":"str","x":700,"y":1619,"wires":[["67cb159d.f992ec"]]},{"id":"d73baa72.2ec368","type":"template","z":"f45f9af.47ac368","name":"插入数据","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO dbasename(data1,data2,data3,time) VALUE('李四',{{random}},{{random2}},'{{time}}')","output":"str","x":440,"y":1680,"wires":[["7dda3c83.3817d4"]]},{"id":"7dda3c83.3817d4","type":"mysql","z":"f45f9af.47ac368","mydb":"3f71f2e3.4fb62e","name":"MYSQL","x":600,"y":1680,"wires":[["ed05fb84.359cb8"]]},{"id":"76ce4d4a.91aa34","type":"mqtt in","z":"f45f9af.47ac368","name":"","topic":"presence","qos":"2","broker":"6926da77.6ee1d4","x":440,"y":700,"wires":[["7f2ea4c2.b31e6c"]]},{"id":"7f2ea4c2.b31e6c","type":"debug","z":"f45f9af.47ac368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":700,"wires":[]},{"id":"fabb3f62.a9f2b","type":"comment","z":"f45f9af.47ac368","name":"连接nodered中的mosca","info":"","x":220,"y":660,"wires":[]},{"id":"51aae906.595898","type":"comment","z":"f45f9af.47ac368","name":"连接nodejs中的mosca","info":"","x":230,"y":800,"wires":[]},{"id":"be25df6c.45ae4","type":"comment","z":"f45f9af.47ac368","name":"连接百度云IOTHUB","info":"","x":260,"y":380,"wires":[]},{"id":"6cb567a9.ef7508","type":"inject","z":"1397e411.ffb7bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":490,"y":1020,"wires":[["b0e63595.081198"]]},{"id":"d7a24b9f.440a28","type":"arduino out","z":"1397e411.ffb7bc","name":"","pin":"13","state":"OUTPUT","arduino":"1fa436ea.d0fd79","x":1020,"y":1000,"wires":[]},{"id":"b0e63595.081198","type":"function","z":"1397e411.ffb7bc","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":708,"y":1020,"wires":[["d7a24b9f.440a28"]]},{"id":"86484826.a254d8","type":"file","z":"eb1cfe8.e5529","name":"","filename":"C:\\Users\\Administrator\\Desktop\\abc.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":690,"y":2700,"wires":[]},{"id":"96e769d.98da398","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"abccc","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":2700,"wires":[["86484826.a254d8"]]},{"id":"b0758a3a.8621f8","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":2800,"wires":[["28adc735.e2f8d8"]]},{"id":"28adc735.e2f8d8","type":"file in","z":"eb1cfe8.e5529","name":"","filename":"package.json","format":"utf8","chunk":false,"sendError":false,"x":610,"y":2800,"wires":[["6ed55556.82fcbc"]]},{"id":"6ed55556.82fcbc","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":2800,"wires":[]},{"id":"2b871272.b7620e","type":"comment","z":"eb1cfe8.e5529","name":"将数据存进文件","info":"","x":770,"y":2660,"wires":[]},{"id":"18ba6a21.d9ad56","type":"comment","z":"eb1cfe8.e5529","name":"从文件中获取数据","info":"","x":630,"y":2860,"wires":[]},{"id":"d27cde75.bab7a","type":"base64","z":"eb1cfe8.e5529","name":"","action":"str","property":"payload","x":520,"y":3000,"wires":[["861e7bb6.121aa8"]]},{"id":"1b7cfed4.55d231","type":"inject","z":"eb1cfe8.e5529","name":"","topic":"","payload":"I","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":3000,"wires":[["d27cde75.bab7a"]]},{"id":"861e7bb6.121aa8","type":"debug","z":"eb1cfe8.e5529","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":3000,"wires":[]},{"id":"95902acd.82bab8","type":"comment","z":"1397e411.ffb7bc","name":"要在arduino IDE 中上传Files - Examples - Firmata - Standard Firmata","info":"","x":700,"y":940,"wires":[]},{"id":"2485388e.7a2bf8","type":"arduino out","z":"1397e411.ffb7bc","name":"","pin":"7","state":"OUTPUT","arduino":"1fa436ea.d0fd79","x":1030,"y":1100,"wires":[]},{"id":"5612c7f6.b5fe88","type":"arduino in","z":"1397e411.ffb7bc","name":"","pin":"7","state":"INPUT","arduino":"1fa436ea.d0fd79","x":420,"y":1120,"wires":[["e5be12ea.10fb4"]]},{"id":"e5be12ea.10fb4","type":"debug","z":"1397e411.ffb7bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":1120,"wires":[]},{"id":"ac5ab333.f5f0e","type":"debug","z":"f83eeff1.c7c4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":320,"wires":[]},{"id":"16df5777.346049","type":"debug","z":"f83eeff1.c7c4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":1520,"wires":[]},{"id":"b1b5ebe8.4516c8","type":"ui_template","z":"f83eeff1.c7c4b","group":"a723151d.ffaf58","name":"Reverse Song name","order":2,"width":"12","height":"6","format":"<script>\n    \nthis.scope.action = function(opt) {\n        var splitString = opt.split(\"\"); \n        var reverseArray = splitString.reverse();\n        var joinArray = reverseArray.join(\"\");\n        opt = joinArray;\n     return opt; }    \n</script>\n\n<div style=\"margin: 0\">\n  <ul>\n    <li ng-repeat=\"song in msg.payload track by $index\" \n      style=\"list-style-type: none;\">\n        <label>\n            <input type=\"radio\" ng-model=\"$parent.song\" value=\"{{song}}\" name=\"data\" />{{song}}\n        </label>\n    </li>\n </ul>\n     <md-button ng-click=\"send({payload:action(song)})\">\n        Click to send data to backend\n    </md-button>\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":580,"y":1520,"wires":[["16df5777.346049"]]},{"id":"fe5080ed.a3c56","type":"function","z":"f83eeff1.c7c4b","name":"build list (1)","func":"var arr =[\"It's been a Hard Day's Night\",\n        \"Help!\",\n        \"Rocky Raccoon\"];\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1520,"wires":[["b1b5ebe8.4516c8"]]},{"id":"c305cb14.333f98","type":"inject","z":"f83eeff1.c7c4b","name":"Go","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":210,"y":1520,"wires":[["fe5080ed.a3c56"]]},{"id":"ef3cd41b.aa3428","type":"inject","z":"f83eeff1.c7c4b","name":"Go","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":1620,"wires":[["7ad2cfda.a4945"]]},{"id":"7ad2cfda.a4945","type":"function","z":"f83eeff1.c7c4b","name":"build array (1)","func":"var arr =[67.4, 69.5, 72.5, 67.8, 65.0];\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1620,"wires":[["bd0c25b0.cf96c8"]]},{"id":"bd0c25b0.cf96c8","type":"ui_template","z":"f83eeff1.c7c4b","group":"945b368d.8dc7f8","name":"One dimension array table (temperature)","order":1,"width":"6","height":"6","format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>Temperature</th> \n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td class=\"numeric\" >{{row}}</td>\n </tr>\n </tbody>\n</table>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":620,"y":1620,"wires":[["99e9654c.ae5068"]]},{"id":"99e9654c.ae5068","type":"debug","z":"f83eeff1.c7c4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":1620,"wires":[]},{"id":"fa81c290.8a60d","type":"http in","z":"f83eeff1.c7c4b","name":"","url":"/vue-websocket","method":"get","upload":false,"swaggerDoc":"","x":250,"y":1760,"wires":[["65c778ad.e0d3f8"]]},{"id":"2c45662c.69536a","type":"http response","z":"f83eeff1.c7c4b","name":"","x":660,"y":1760,"wires":[]},{"id":"5f2b8a26.471c54","type":"function","z":"f83eeff1.c7c4b","name":"kill msg","func":"msg._session=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1900,"wires":[["4bbbc1e8.1638c"]]},{"id":"da4b774e.e18e48","type":"websocket in","z":"f83eeff1.c7c4b","name":"","server":"e5e5a9c1.c52ff8","client":"","x":240,"y":1920,"wires":[["5f2b8a26.471c54","3062cac0.ff82d6"]]},{"id":"4bbbc1e8.1638c","type":"websocket out","z":"f83eeff1.c7c4b","name":"","server":"e5e5a9c1.c52ff8","client":"","x":760,"y":1840,"wires":[]},{"id":"31c79380.61d61c","type":"comment","z":"f83eeff1.c7c4b","name":"VueJS App","info":"","x":210,"y":1720,"wires":[]},{"id":"d33ed1f3.edeba","type":"inject","z":"f83eeff1.c7c4b","name":"TEST timestamp","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1860,"wires":[["4bbbc1e8.1638c"]]},{"id":"65c778ad.e0d3f8","type":"template","z":"f83eeff1.c7c4b","name":"VueJS Websocket","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n\n<head>\n\n</head>\n\n<body>\n\n    <div id=\"container\">\n        <input type=\"text\" id=\"container\" placeholder=\"enter text\" v-model=\"form.test\">\n        <input type=\"text\" id=\"container\" placeholder=\"enter text\" v-model=\"form.test2\">\n        <button @click=\"onSubmit()\">Send</button>\n        <p>Connected: {{ isConnected }}</p>\n        <br>\n        <h4>Data</h4>\n        <p>{{ value }}</p>\n\n    \n    </div>\n\n    <script src=\"https://unpkg.com/vue\"></script>\n\n    <script>\n\n        new Vue({\n            el: '#container',\n            data() {\n                return {\n                    form: {\n                        test: '',\n                        test2: ''\n                    },\n                    value: 'hello world',\n                    isConnected: false,\n                    wsUrl: \"ws://localhost:1880/websocket\"\n                }\n            },\n            computed: {\n                socket() {\n                    return new WebSocket(this.wsUrl);\n                }\n            },\n            methods: {\n                onSubmit() {\n                    let data = JSON.stringify(this.form);\n                    console.log('submitting data', data);\n                    this.socket.send(data);\n\n                }\n            },\n            created() {\n                this.socket.onopen = () => {\n                    console.log('socket open');\n                    this.isConnected = true;\n                };\n                this.socket.onclose = () => {\n                    this.isConnected = false;\n                };\n                this.socket.onmessage = (msg) => {\n                    console.log('socket message', msg)\n                    this.value = msg.data;\n                };\n            }\n        });\n\n    </script>\n\n</body>\n\n</html>","output":"str","x":480,"y":1760,"wires":[["2c45662c.69536a"]]},{"id":"25c1ed8.0636212","type":"template","z":"f83eeff1.c7c4b","name":"VueJS","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n\n<head>\n\n</head>\n\n<body>\n\n    <div id=\"container\">\n        <h2>VueJS REST Demo</h2>\n        <b>Server Message:</b>\n        <p>{{serverMsg}}</p>\n        <h3>Form</h3>\n        <input type=\"text\" id=\"container\" placeholder=\"enter text\" v-model=\"form.test1\">\n        <input type=\"text\" id=\"container\" placeholder=\"enter text\" v-model=\"form.test2\">\n        <button @click=\"onSubmit()\">Submit</button>\n        <h4>Results</h4>\n        <p>{{ value }}</p>\n    </div>\n\n    <script src=\"https://unpkg.com/vue\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js\"></script>\n    <script>\n\n        new Vue({\n            el: '#container',\n            data() {\n                return {\n                    value: 'your post will appear here',\n                    form: {\n                        test1: '',\n                        test2: ''\n                    },\n                    serverMsg: ''\n                }\n            },\n            methods: {\n                onSubmit() {\n                    console.log('onSubmit this.form', this.form);\n                    axios.post('/vue-rest/post', this.form).then(res => {\n                        console.log('post res', res.data)\n                        this.value = res.data;\n                    });\n                }\n            },\n            mounted() {\n                axios.get('/vue-rest/data').then(res => {\n                    this.serverMsg = res.data;\n                })\n            }\n        });\n\n    </script>\n\n</body>\n\n</html>","output":"str","x":470,"y":2160,"wires":[["adf521c4.9d22d"]]},{"id":"d866e96f.295aa8","type":"debug","z":"f83eeff1.c7c4b","name":"websocket msg received","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":1960,"wires":[]},{"id":"3062cac0.ff82d6","type":"json","z":"f83eeff1.c7c4b","name":"","property":"payload","action":"","pretty":false,"x":490,"y":1960,"wires":[["d866e96f.295aa8"]]},{"id":"bdf1feec.e7aab","type":"http in","z":"f83eeff1.c7c4b","name":"","url":"/vue-rest","method":"get","upload":false,"swaggerDoc":"","x":230,"y":2180,"wires":[["25c1ed8.0636212"]]},{"id":"adf521c4.9d22d","type":"http response","z":"f83eeff1.c7c4b","name":"","x":770,"y":2160,"wires":[]},{"id":"5badbe6a.562d","type":"http in","z":"f83eeff1.c7c4b","name":"","url":"/vue-rest/post","method":"post","upload":false,"swaggerDoc":"","x":200,"y":2280,"wires":[["49b00360.fcb23c","c92bb730.a5e078"]]},{"id":"182ec939.41bd97","type":"http response","z":"f83eeff1.c7c4b","name":"","x":690,"y":2260,"wires":[]},{"id":"49b00360.fcb23c","type":"debug","z":"f83eeff1.c7c4b","name":"Vue POST","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":2340,"wires":[]},{"id":"c92bb730.a5e078","type":"function","z":"f83eeff1.c7c4b","name":"Apply timestamp","func":"msg.payload.timestamp = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2280,"wires":[["182ec939.41bd97"]]},{"id":"bb6b9873.269418","type":"comment","z":"f83eeff1.c7c4b","name":"Websocket","info":"","x":270,"y":1800,"wires":[]},{"id":"733a72fd.9e07ac","type":"comment","z":"f83eeff1.c7c4b","name":"VueJS App","info":"","x":220,"y":2140,"wires":[]},{"id":"47901528.77f59c","type":"comment","z":"f83eeff1.c7c4b","name":"Form Submit 手动请求","info":"","x":300,"y":2240,"wires":[]},{"id":"c944e027.5af39","type":"http in","z":"f83eeff1.c7c4b","name":"","url":"/vue-rest/data","method":"get","upload":false,"swaggerDoc":"","x":250,"y":2420,"wires":[["eb653ecb.0a0de"]]},{"id":"174c68e4.61f2d7","type":"http response","z":"f83eeff1.c7c4b","name":"","statusCode":"","headers":{},"x":650,"y":2420,"wires":[]},{"id":"eb653ecb.0a0de","type":"function","z":"f83eeff1.c7c4b","name":"Sample Data","func":"msg.payload = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":2420,"wires":[["174c68e4.61f2d7"]]},{"id":"d065b9fc.2557a8","type":"comment","z":"f83eeff1.c7c4b","name":"Receive Data 主动请求","info":"","x":300,"y":2380,"wires":[]},{"id":"eaab51fa.81e7c","type":"comment","z":"f83eeff1.c7c4b","name":"post /vue-rest/data 会返回时间戳","info":"","x":470,"y":2460,"wires":[]},{"id":"cc95bef2.441db","type":"ui_chart","z":"f45f9af.47ac368","name":"Wind Speed","group":"96b45f2.13308a","order":3,"width":0,"height":0,"label":"Kph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":1290,"y":1900,"wires":[]},{"id":"f3fee225.145be","type":"inject","z":"f45f9af.47ac368","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210,"y":1860,"wires":[["5fb41eca.f10ac"]]},{"id":"5fb41eca.f10ac","type":"ui_text","z":"f45f9af.47ac368","group":"35b090e3.f4239","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":466.6666564941406,"y":1885.5555429458618,"wires":[]},{"id":"79cdc75f.6a2748","type":"switch","z":"f45f9af.47ac368","name":"IsWind","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410.16651916503906,"y":1954.3332862854004,"wires":[["fe61f63e.3015f8"]]},{"id":"fe61f63e.3015f8","type":"function","z":"f45f9af.47ac368","name":"Get Wind","func":"var msg = {\n topic : \"Select SPEED from WIND\"     \n };\nreturn msg;","outputs":1,"noerr":0,"x":577.1665878295898,"y":1952.3332862854004,"wires":[["a529c4b1.166e78"]]},{"id":"d810289b.553f58","type":"ui_gauge","z":"f45f9af.47ac368","name":"","group":"96b45f2.13308a","order":1,"width":"3","height":"3","gtype":"donut","title":"Wind Speed","label":"Kph","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1270,"y":2040,"wires":[]},{"id":"a3a2bfa5.cb753","type":"function","z":"f45f9af.47ac368","name":"Get Speed","func":"msg.payload = msg.payload[0].SPEED;\nmsg.topic = \"Speed\"\nreturn msg","outputs":1,"noerr":0,"x":1010,"y":1940,"wires":[["d810289b.553f58","cc95bef2.441db","d82bcafc.c5c828"]]},{"id":"a529c4b1.166e78","type":"mysql","z":"f45f9af.47ac368","mydb":"3f71f2e3.4fb62e","name":"MYSQL","x":800,"y":1940,"wires":[["a3a2bfa5.cb753"]]},{"id":"ef626eb1.71453","type":"inject","z":"f45f9af.47ac368","name":"Wind Trigger","topic":"admin","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":1940,"wires":[["79cdc75f.6a2748"]]},{"id":"d82bcafc.c5c828","type":"debug","z":"f45f9af.47ac368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1280,"y":1980,"wires":[]},{"id":"5db58af6.058464","type":"random","z":"f45f9af.47ac368","name":"","low":"1","high":"10","inte":"true","property":"payload","x":220,"y":1520,"wires":[["3f288766.70edf8"]]},{"id":"32696169.4859ae","type":"debug","z":"f45f9af.47ac368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":1480,"wires":[]},{"id":"e3d08315.aa97c","type":"function","z":"f45f9af.47ac368","name":"Get Speed","func":"var m={\n    \"series\":[msg.payload[0].data1],\n    \"data\":[[]],\n    \"labels\":[]\n}; \nfor(var i=0;i<msg.payload.length;i++){\n    m.data[0].push(msg.payload[i].data2);\n    var date = new Date(msg.payload[i].time);\n    var Y = date.getFullYear() + '-';\n    var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';\n    var D = date.getDate() < 10 ? '0'+date.getDate() + ' ':date.getDate() + ' ';\n    var h = date.getHours()< 10 ?'0'+date.getHours():date.getHours() + ':';\n    var mo = date.getMinutes()< 10 ?'0'+date.getMinutes() + ':':date.getMinutes() + ':';\n    var s = date.getSeconds()< 10 ?'0'+date.getSeconds() :date.getSeconds();\n    m.labels.push(Y+M+D+h+mo+s);\n}\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":1030,"y":1660,"wires":[["c377e52.30edf18","a930f1f6.71441"]]},{"id":"a930f1f6.71441","type":"ui_chart","z":"f45f9af.47ac368","name":"","group":"520526a.d6924d8","order":0,"width":0,"height":0,"label":"随机曲线","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1230,"y":1700,"wires":[]},{"id":"1c338744.cd2439","type":"inject","z":"95113055.d24f8","name":"","topic":"admin","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":280,"wires":[["15bd469d.973149"]]},{"id":"15bd469d.973149","type":"random","z":"95113055.d24f8","name":"","low":"1","high":"10","inte":"true","property":"payload1","x":300,"y":280,"wires":[["eecdec27.6a4e3"]]},{"id":"39eeb5bb.eeb44a","type":"random","z":"95113055.d24f8","name":"","low":"1","high":"10","inte":"true","property":"payload2","x":540,"y":280,"wires":[["a8cc3cd8.a0b51"]]},{"id":"3869417a.b876ce","type":"debug","z":"95113055.d24f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":260,"wires":[]},{"id":"eecdec27.6a4e3","type":"range","z":"95113055.d24f8","minin":"1","maxin":"10","minout":"1","maxout":"100","action":"scale","round":false,"property":"payload1","name":"","x":420,"y":340,"wires":[["39eeb5bb.eeb44a"]]},{"id":"a8cc3cd8.a0b51","type":"range","z":"95113055.d24f8","minin":"1","maxin":"10","minout":"100","maxout":"1000","action":"scale","round":false,"property":"payload2","name":"","x":650,"y":340,"wires":[["3869417a.b876ce"]]},{"id":"f243937e.5bee6","type":"inject","z":"95113055.d24f8","name":"Test On","topic":"Garage","payload":"true","payloadType":"json","repeat":"","crontab":"","once":false,"x":250,"y":960,"wires":[["b13e776d.eb0138"]]},{"id":"dc6929b1.5c5a58","type":"inject","z":"95113055.d24f8","name":"Test Off","topic":"Garage","payload":"false","payloadType":"json","repeat":"","crontab":"","once":false,"x":250,"y":1000,"wires":[["b13e776d.eb0138"]]},{"id":"b13e776d.eb0138","type":"function","z":"95113055.d24f8","name":"Track Events","func":"var max_duration = .1;\nvar colorArray = ['#FF6633','#4D4D4D','#5DA5DA','#FAA43A','#60BD68','#F17CB0','#B2912F','#B276B2','#DECF3F','#F15854'];\n\n// If cache was passed in, then assume it came from the perist node.\n// Set it in context to restore the chart state\nif(typeof(msg.cache) === \"object\"){\n    context.set('cache',msg.cache);\n}\n\nvar cache = context.get('cache');\nif(typeof(cache) === \"undefined\"){\n    // node.warn(\"Init cache\");\n    cache = {\n        labels: [],\n        datasets: [],\n        \n    }\n}\n\nif(typeof(msg.topic) === \"string\" && typeof(msg.payload) === \"boolean\"){\n    // Begin history tracking\n    // This topic is new so init the object and push it onto the labels and datasets arrays\n    if(cache.labels.indexOf(msg.topic) == -1){\n        // node.warn(\"create new label\");\n        cache.labels.push(msg.topic);\n        \n        cache.datasets.push({\n            label: msg.topic,\n            current: false,\n            timestamp: new Date(),\n            data: []\n        });\n    }\n\n    var thisIndex = cache.labels.indexOf(msg.topic);\n    \n    // The state has changed\n    if(msg.payload != cache.datasets[thisIndex].current){\n        cache.datasets[thisIndex].current = msg.payload;\n        cache.datasets[thisIndex].timestamp = new Date();\n        \n        // Only add a new event if the state switched from false to true\n        if(msg.payload === true){\n            // add a new start/stop event to the topics history\n            var event = [new Date(), new Date(), colorArray[thisIndex]];\n            cache.datasets[thisIndex].data.push(event);\n        }\n    }\n}\n\n\ncache.datasets.forEach(function(topic){\n    // The event is still active so\n    if(topic.current === true && topic.data.length){\n        // Update the event stop time to the current time\n        topic.data[topic.data.length - 1][1] = new Date();\n    }\n    \n\n    topic.data.forEach(function(event, index, object){\n        // cleanup old history (anything with an ending time more than max_duration hours old)\n        if(new Date() - event[1] > max_duration * 3600000){\n            // Delete the event\n            object.splice(index,1);\n        }\n    });\n});\n\n\ncontext.set('cache',cache);\n\nmsg.cache = cache;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":980,"wires":[["d233932d.08411"]]},{"id":"d233932d.08411","type":"ui_template","z":"95113055.d24f8","group":"5323d42.4c88e2c","name":"ChartJS Timeline","order":0,"width":"16","height":"9","format":"<script>\nvar ctx = document.getElementById(\"chartjs_timeline_1\").getContext(\"2d\");\n// console.log(scope);\n\n\nscope.chart = new Chart(ctx, {\n    type: 'timeLine',\n    options: {\n        animation: false,\n        responsive: true,\n        colorFunction: function(data){\n            // data is the dataset event point.\n            // The first and second entries are the start/stop date\n            //The third entry specifies the color to use\n            return (typeof data[2] === 'undefined' ? 'black' : data[2]);\n        }\n    },\n    data: {\n        labels: [],\n        datasets: []\n    }\n});\n\n    \n(function(scope){\n    scope.$watch('msg', function(msg) {\n        if(typeof(msg) !== \"object\") return;\n\n        if(typeof(msg.cache) === \"object\"){\n            scope.chart.config.data.labels = msg.cache.labels;\n            scope.chart.config.data.datasets = msg.cache.datasets;\n        }\n\n        //redraw\n        scope.chart.update();\n    });\n})(scope);\n\n</script>\n\n<div style=\"width: 100%;\">\n    <canvas id=\"chartjs_timeline_1\"></canvas>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":670,"y":980,"wires":[[]]},{"id":"f3ff902e.9d488","type":"inject","z":"95113055.d24f8","name":"Redraw","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":240,"y":840,"wires":[["b13e776d.eb0138"]]},{"id":"7301aae2.e6df34","type":"debug","z":"95113055.d24f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":1220,"wires":[]},{"id":"f0c35d25.ad667","type":"inject","z":"95113055.d24f8","name":"","topic":"","payload":"welcome","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":1200,"wires":[["4a01da5f.e74e84"]]},{"id":"4a01da5f.e74e84","type":"ui_template","z":"95113055.d24f8","group":"e797c763.3f20c8","name":"testing payload","order":0,"width":"6","height":"6","format":"<h3>Testing dynamic scripts with Dashboard 2.0</h3>\n{{msg.payload}}\n<script>\n    (function(scope) {\n        console.log('Position 1');\n        console.dir(scope);\n        console.log(scope.msg);\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":440,"y":1220,"wires":[["7301aae2.e6df34"]]},{"id":"bffed0ec.03886","type":"inject","z":"95113055.d24f8","name":"","topic":"","payload":"not welcome","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":1240,"wires":[["4a01da5f.e74e84"]]},{"id":"d774839b.d27eb","type":"ui_template","z":"95113055.d24f8","group":"5f068201.6bc97c","name":"Time and Temp","order":0,"width":"8","height":"2","format":"<script>\n    var daylist = [\"sun\", \"mon\", \"tue\", \"wed\", \"thu\", \"fri\", \"sat\"];\n    (function(scope){ \n            scope.$watch('msg', function(msg) {\n               if (typeof(msg.payload) != \"undefined\") $(\"#DSEGTemp\").text(msg.payload);\n               if (typeof(msg.colour) != \"undefined\") \n                            { \n                             if (msg.colour==\"orange\"){ $(\".Clock-Wrapper\").css('background-color', '#fb7c00');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"green\") { $(\".Clock-Wrapper\").css('background-color', '#66ac66');  $(\".lcdClock\").css('color', '#222'); }                            \n                             if (msg.colour==\"blue\")  { $(\".Clock-Wrapper\").css('background-color', '#8888ff');  $(\".lcdClock\").css('color', '#222'); }\n                             if (msg.colour==\"yellow\"){ $(\".Clock-Wrapper\").css('background-color', '#bbbb44');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"white\") { $(\".Clock-Wrapper\").css('background-color', '#aaaaaa');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"pink\")  { $(\".Clock-Wrapper\").css('background-color', '#ff8888');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"red\")  { $(\".Clock-Wrapper\").css('background-color', '#aa2222');  $(\".lcdClock\").css('color', '#ccaa22'); } \n                            }\n            });\n    })(scope);\n\n    function genTimerStrings(tm, num){\n    \n    \tvar i;\n    \tvar ret = tm.toString(10);\n    \tvar left = ret.length;\n    \n    \tif( left < num){\n    \t\tfor(i=0; i<( num - left ); i++ ){\n    \t\t\tret = String(0) + ret;\n    \t\t}\n    \t}\n    \treturn ret;\n    }\n\n    function updateTimer(){\n    \tvar ret;\n    \tvar date = new Date();\n    \tvar tm_year, tm_mon, tm_date, tm_hour, tm_min, tm_sec, tm_msec,tm_day;\n    \tvar colon;\n    \ttm_year = date.getFullYear();\n    \ttm_mon = date.getMonth()+1;\n    \ttm_date = date.getDate();\n    \ttm_day = date.getDay();\n    \ttm_hour = date.getHours();\n    \ttm_min = date.getMinutes();\n    \ttm_sec = date.getSeconds();\n    \ttm_msec = date.getMilliseconds();\n    \n    \ttm_mon = genTimerStrings(tm_mon, 2);\n    \ttm_date = genTimerStrings(tm_date, 2);\n    \ttm_hour = genTimerStrings(tm_hour, 2);\n    \ttm_min = genTimerStrings(tm_min, 2);\n    \ttm_sec = genTimerStrings(tm_sec, 2);\n    \ttm_day = daylist[tm_day];\n    \n    \tif( tm_msec > 499 ){\n    \t\tcolon = ' ';\n    \t}else{\n    \t\tcolon = ':';\n    \t}\n    \n    \tdocument.getElementById(\"DSEGClock\").innerHTML = tm_hour + colon + tm_min + \"<span style=\\\"font-size:30px;\\\">\"  + tm_sec + \"</span>\";\n    \tdocument.getElementById(\"DSEGClock-Year\").innerHTML = \"<span class=\\\"D7MI\\\">\" + tm_year + \"-\" + tm_mon + \"-\" + tm_date + ' ' + \"</span><span class=\\\"D14MI\\\">\" + tm_day  +  \".\" + \"</span>\";\n    \n    \tsetTimeout(\"updateTimer()\", 500 - date.getMilliseconds()%500 );\n    }\n\n    updateTimer();\n</script>\n\n<style type=\"text/css\">\n.lcdClock {\n\tbackground-color:#fbfbfb;\n\tfont-size:100%;\n\tpadding-left:10px;\n\tpadding-right:10px;\n\tpadding-bottom:10px;\n\tmax-width:300px;\n\tline-height:160%;\n\tcolor:#222;\n\tfont-family:Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', sans-serif;\n}\n\n@font-face {\n  font-family: \"D7MI\";\n  src: url(\"/myfonts/DSEG7Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D14MI\";\n  src: url(\"/myfonts/DSEG14Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D7MBI\";\n  src: url(\"/myfonts/DSEG7Modern-BoldItalic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"DWEATHER\";\n  src: url(\"/myfonts/DSEGWeather.woff\") format('woff');\n}\n\n.D7MI {\nfont-family: \"D7MI\";\n}\n\n.D7MBI {\nfont-family: \"D7MBI\";\n}\n\n.D14MI {\nfont-family: \"D14MI\";\n}\n\n.DWEATHER {\nfont-family: \"DWEATHER\";\nfont-size:72px;\nheight:72px;\n}\n\n.Clock-Wrapper{\n\tposition:relative;\n\tborder:6px solid #000;\n\tborder-radius:9px;\n\theight:68px;\n\twidth:280px;\n\tbackground-color:#fb7c00;\n\tbackground-color:#66ac66;\n\n\tbox-shadow: 4px 4px 28px 0px rgba(0,0,0,0.3) inset; \n}\n\n.Clock-Time-Background{\n\tz-index:50;\n\tcolor:rgba(0,0,0,0.15);\n}\n\n.Clock-Time-Front{\n\tz-index:100;\n}\n\n.Clock-Time-Background,.Clock-Time-Front {\n   \tposition:absolute;\n\ttop:38px;\n\tleft:5px; \n\tfont-size:42px;\n}\n\n.Clock-Year-Background{\n\tz-index:50;\n;\n\tcolor:rgba(0,0,0,0.1);\n\tfont-size:18px;\n}\n\n.Clock-Year-Front{\n\tz-index:100;\n}\n\n.Clock-Year-Background,.Clock-Year-Front {\n   \tposition:absolute;\n\ttop:2px;\n\tleft:5px; \n\tfont-size:18px;\n}\n\n.temp { z-index:100; }\n.tempBack { z-index:50; color:rgba(0,0,0,0.1); }\n.temp,.tempBack {\n   \tposition:absolute;\n\ttop:28px;\n\tleft:210px; \n\tfont-size:42px;\n}\n\n.tempc { z-index:100; }\n.tempcBack { z-index:50; color:rgba(0,0,0,0.1); }\n.tempc,.tempcBack {\n   \tposition:absolute;\n\ttop:36px;\n\tleft:278px; \n\tfont-size:24px;\n}\n\n#DSEG7_OUTPUT{\n\tfont-family: \"D7MI\";\n}\n\n#DSEG14_OUTPUT{\n\tfont-family: \"D14MI\";\n}\n\n#DSEG14_OUTPUT, #DSEG7_OUTPUT{\n\tfont-size:18px;\n\tmargin-top:2px;\n\tmargin-bottom:10px;\n}\n\n</style>\n\n\n<div class=\"Clock-Wrapper center lcdClock\">\n\t<span class=\"Clock-Time-Background D7MBI\">88:88<span style=\"font-size:30px;\">88</span></span>\n\t<span id=\"DSEGClock\" class=\"Clock-Time-Front D7MBI\"></span>\n\t<span class=\"Clock-Year-Background\"><span class=\"D7MI\">2088-88-88</span><span class=\"D14MI\"> ~~~</span></span>\n\t<span id=\"DSEGClock-Year\" class=\"Clock-Year-Front\"></span>\n\t\n\t<span id=\"DSEGTemp\" class=\"temp D7MBI\">41</span>\n\t<span id=\"DSEGTemp\" class=\"tempBack D7MBI\">88</span>\t\n\t<span id=\"DSEGTempc\" class=\"tempc D7MI\">C</span>\n\t<span id=\"DSEGTempc\" class=\"tempcBack D7MI\">8</span>\t\n</div>\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":440,"y":1360,"wires":[[]]},{"id":"23548499.6bce8c","type":"inject","z":"95113055.d24f8","name":"21c","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"x":230,"y":1341,"wires":[["d774839b.d27eb"]]},{"id":"9e1099dc.02de98","type":"inject","z":"95113055.d24f8","name":"32c","topic":"","payload":"32","payloadType":"num","repeat":"","crontab":"","once":false,"x":230,"y":1381,"wires":[["d774839b.d27eb"]]},{"id":"585b82b8.b4a58c","type":"inject","z":"95113055.d24f8","name":"green","topic":"","payload":"green","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":1440,"wires":[["2bd3834b.f1fcac"]]},{"id":"ec529a1d.002128","type":"inject","z":"95113055.d24f8","name":"orange","topic":"","payload":"orange","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":1480,"wires":[["2bd3834b.f1fcac"]]},{"id":"2bd3834b.f1fcac","type":"function","z":"95113055.d24f8","name":"","func":"msg.colour=msg.payload;\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1460,"wires":[["d774839b.d27eb"]]},{"id":"662e326e.e1d7bc","type":"inject","z":"95113055.d24f8","name":"blue","topic":"","payload":"blue","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":1520,"wires":[["2bd3834b.f1fcac"]]},{"id":"71b8006a.b1d92","type":"inject","z":"95113055.d24f8","name":"yellow","topic":"","payload":"yellow","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":1560,"wires":[["2bd3834b.f1fcac"]]},{"id":"83905f0c.4f0d8","type":"inject","z":"95113055.d24f8","name":"white","topic":"","payload":"white","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":1600,"wires":[["2bd3834b.f1fcac"]]},{"id":"707bff3f.4ed3c","type":"inject","z":"95113055.d24f8","name":"pink","topic":"","payload":"pink","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":1640,"wires":[["2bd3834b.f1fcac"]]},{"id":"f53efbe6.108898","type":"inject","z":"95113055.d24f8","name":"red and light text","topic":"","payload":"red","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1680,"wires":[["2bd3834b.f1fcac"]]},{"id":"1d6f1a8.55244e6","type":"http response","z":"f45f9af.47ac368","name":"","statusCode":"","headers":{},"x":1100,"y":780,"wires":[]},{"id":"3b73ee7a.baa862","type":"http request","z":"65ac46cc.b755d8","name":"","method":"POST","ret":"obj","url":"http://182.61.56.51:8093/users","tls":"","x":680,"y":120,"wires":[["b769faed.517d68"]]},{"id":"f4e503c5.43172","type":"inject","z":"65ac46cc.b755d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":120,"wires":[["3b73ee7a.baa862"]]},{"id":"b769faed.517d68","type":"debug","z":"65ac46cc.b755d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":120,"wires":[]},{"id":"efa0508b.14004","type":"inject","z":"e7f21837.eedb18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":220,"wires":[["86069dc7.c7e9f"]]},{"id":"a3c304c0.229f28","type":"function","z":"e7f21837.eedb18","name":"出错，次数加一，返回前面","func":"var count = flow.get('count');\n//如果count不存在就初始化为0，已存在则获取count的值\ncount += 1;\nflow.set('count',count);\nmsg.payload='不正常退出'+msg.payload\nmsg.error=true\nreturn msg\n","outputs":1,"noerr":0,"x":800,"y":520,"wires":[["71a0bb75.561a04","9198bcad.6ccd2"]]},{"id":"1b8c74e7.52c89b","type":"random","z":"e7f21837.eedb18","name":"","low":"1","high":"10","inte":"true","property":"payload","x":740,"y":225,"wires":[["c6ab771f.2c06a8"]]},{"id":"71a0bb75.561a04","type":"debug","z":"e7f21837.eedb18","name":"不正常","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":500,"wires":[]},{"id":"c3816611.08d4e8","type":"debug","z":"e7f21837.eedb18","name":"正常退出","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":920,"y":646,"wires":[]},{"id":"86069dc7.c7e9f","type":"function","z":"e7f21837.eedb18","name":"第一次和出现错误走第二个出口，超过五次退出","func":"if(msg.error){\n    var count=flow.get('count')\n    node.warn(count);\n    if(count>5){\n        msg.payload='超过5次，退出'\n        return [  msg,null ];\n    }else{\n         return [  null,msg ];\n    }\n}else{\n    flow.set('count',1)\n    var count=flow.get('count')\n    node.warn(count);\n    return [null,msg ];\n} \n","outputs":2,"noerr":0,"x":380,"y":220,"wires":[["5aa5b1ab.e57c"],["1b8c74e7.52c89b"]]},{"id":"9198bcad.6ccd2","type":"delay","z":"e7f21837.eedb18","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":340,"wires":[["86069dc7.c7e9f"]]},{"id":"5aa5b1ab.e57c","type":"debug","z":"e7f21837.eedb18","name":"超过5次，退出","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":740,"y":100,"wires":[]},{"id":"c6ab771f.2c06a8","type":"switch","z":"e7f21837.eedb18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"6","vt":"str"},{"t":"gt","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":526,"wires":[["a3c304c0.229f28"],["c3816611.08d4e8"]]},{"id":"a045dd31.8ed94","type":"comment","z":"b0960878.de5638","name":"默认情况下，序列顺序是按创建顺序排列的，但可以使用action in节点的Priority属性进行更改。","info":"","x":600,"y":20,"wires":[]},{"id":"785cf66c.56c068","type":"inject","z":"b0960878.de5638","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":330,"y":80,"wires":[["8a169bf7.bad5a8"]]},{"id":"9e82366.89aaac8","type":"debug","z":"b0960878.de5638","name":"","active":true,"console":"false","complete":"payload","x":890,"y":80,"wires":[]},{"id":"8a169bf7.bad5a8","type":"change","z":"b0960878.de5638","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hello World","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":80,"wires":[["d802c6b8.207d28"]]},{"id":"d802c6b8.207d28","type":"actionflows","z":"b0960878.de5638","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"action1","prop":"loop","untilprop":"1","until":"gt","loop":"none","scope":"private","perf":true,"seq":false,"x":680,"y":80,"wires":[["9e82366.89aaac8"]]},{"id":"7b0a3a52.c19214","type":"comment","z":"b0960878.de5638","name":"Priority越小，越先执行.Priority相同，先添加的先执行","info":"","x":470,"y":140,"wires":[]},{"id":"b8af0437.96a388","type":"actionflows_in","z":"b0960878.de5638","name":"action1 in 1","priority":"50","links":[],"scope":"private","x":350,"y":180,"wires":[["2d17bca9.435cb4"]]},{"id":"c180be04.8a427","type":"actionflows_out","z":"b0960878.de5638","name":"action out","links":[],"x":760,"y":180,"wires":[]},{"id":"2d17bca9.435cb4","type":"change","z":"b0960878.de5638","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"World","fromt":"str","to":"World, and Solar System!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":180,"wires":[["c180be04.8a427","ce58401f.1b83"]]},{"id":"184263ea.91eb9c","type":"actionflows_in","z":"b0960878.de5638","name":"action1 in 2","priority":"50","links":[],"scope":"private","x":350,"y":240,"wires":[["df052a07.ad6b88"]]},{"id":"c4811fe3.e532f","type":"actionflows_out","z":"b0960878.de5638","name":"action 22","links":[],"x":760,"y":240,"wires":[]},{"id":"df052a07.ad6b88","type":"change","z":"b0960878.de5638","name":"change World for Mars","rules":[{"t":"change","p":"payload","pt":"msg","from":"World","fromt":"str","to":"Mars","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":240,"wires":[["c4811fe3.e532f","a5c3fb7c.e9c2d8"]]},{"id":"a5c3fb7c.e9c2d8","type":"debug","z":"b0960878.de5638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":280,"wires":[]},{"id":"ce58401f.1b83","type":"debug","z":"b0960878.de5638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":140,"wires":[]},{"id":"5ec011ea.8f36e","type":"actionflows_in","z":"85255319.4c35b","name":"#deployed","priority":"50","links":[],"scope":"global","x":100,"y":60,"wires":[["b2db3ed2.c9484","80d112da.13c67"]]},{"id":"b2db3ed2.c9484","type":"actionflows_out","z":"85255319.4c35b","name":"#deployed","links":[],"x":370,"y":60,"wires":[]},{"id":"80d112da.13c67","type":"debug","z":"85255319.4c35b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.name","x":570,"y":240,"wires":[]},{"id":"7440df03.9c985","type":"random","z":"e6a4828c.9b54c","name":"","low":"1","high":"10","inte":"true","property":"payload","x":400,"y":280,"wires":[["f0d71951.a517e8"]]},{"id":"f0d71951.a517e8","type":"range","z":"e6a4828c.9b54c","minin":"1","maxin":"10","minout":"0","maxout":"1","action":"scale","round":false,"property":"payload","name":"","x":650,"y":340,"wires":[[]]},{"id":"b44109a8.be6128","type":"inject","z":"f69b460a.ea4438","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":220,"wires":[["89002122.da177"]]},{"id":"89002122.da177","type":"subflow:e6a4828c.9b54c","z":"f69b460a.ea4438","name":"","x":690,"y":260,"wires":[["75828d4b.c45ae4"],["cf2059bf.87a248"]]},{"id":"75828d4b.c45ae4","type":"debug","z":"f69b460a.ea4438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":260,"wires":[]},{"id":"cf2059bf.87a248","type":"debug","z":"f69b460a.ea4438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":360,"wires":[]},{"id":"ee2f3583.8ab388","type":"http request","z":"e6a4828c.9b54c","name":"Recent Quakes","method":"GET","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":520,"y":500,"wires":[["fb6d3c80.e4b62"]]},{"id":"fb6d3c80.e4b62","type":"csv","z":"e6a4828c.9b54c","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"x":690,"y":500,"wires":[["f34fa3cc.27f1","59b146a3.ce0a38"]]},{"id":"f34fa3cc.27f1","type":"debug","z":"e6a4828c.9b54c","name":"","active":true,"complete":false,"x":850,"y":500,"wires":[]},{"id":"59b146a3.ce0a38","type":"switch","z":"e6a4828c.9b54c","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","outputs":1,"x":730,"y":560,"wires":[["cbd064c2.91d918"]]},{"id":"cbd064c2.91d918","type":"change","z":"e6a4828c.9b54c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":620,"wires":[["8ba5f633.fd94a8"]]},{"id":"8ba5f633.fd94a8","type":"debug","z":"e6a4828c.9b54c","name":"","active":true,"complete":false,"x":970,"y":560,"wires":[]},{"id":"eb065166.753e9","type":"mongodb3 in","z":"f45f9af.47ac368","service":"_ext_","configNode":"4e661a4f.60e704","name":"","collection":"notes","operation":"find.toArray","x":640,"y":2140,"wires":[["b50e146.aadbfe8"]]},{"id":"caa31104.27191","type":"inject","z":"f45f9af.47ac368","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":2140,"wires":[["b0e21683.9f8888"]]},{"id":"b50e146.aadbfe8","type":"debug","z":"f45f9af.47ac368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":900,"y":2140,"wires":[]},{"id":"b0e21683.9f8888","type":"function","z":"f45f9af.47ac368","name":"","func":"msg.payload =[{name:{$regex:/戴/}}]\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2140,"wires":[["eb065166.753e9"]]},{"id":"f1e04efc.6e6c2","type":"comment","z":"f45f9af.47ac368","name":"接受msg.payload作为参数","info":"","x":620,"y":2080,"wires":[]},{"id":"9827e118.025d7","type":"mongodb3 in","z":"f45f9af.47ac368","service":"_ext_","configNode":"4e661a4f.60e704","name":"","collection":"notes","operation":"insertMany","x":640,"y":2280,"wires":[["84fe6e62.358e8"]]},{"id":"2c049313.8d9e1c","type":"inject","z":"f45f9af.47ac368","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":2280,"wires":[["a69ef81d.220368"]]},{"id":"84fe6e62.358e8","type":"debug","z":"f45f9af.47ac368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":900,"y":2280,"wires":[]},{"id":"a69ef81d.220368","type":"function","z":"f45f9af.47ac368","name":"","func":"msg.payload =[[{name:'戴家儒13'},{name:'戴家儒12'}]]\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2280,"wires":[["9827e118.025d7"]]},{"id":"fc70d65b.077b88","type":"comment","z":"f45f9af.47ac368","name":"查询","info":"","x":150,"y":2080,"wires":[]},{"id":"72f4ea14.aae494","type":"comment","z":"f45f9af.47ac368","name":"新建","info":"","x":150,"y":2220,"wires":[]},{"id":"ad107a0f.f67568","type":"change","z":"65ac46cc.b755d8","name":"","rules":[{"t":"set","p":"channel","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"ceiling","pt":"msg","to":"10","tot":"num"},{"t":"set","p":"floor","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2200,"wires":[["ea4742d6.8a29f"]]},{"id":"4cb36267.d4874c","type":"inject","z":"65ac46cc.b755d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":2200,"wires":[["ad107a0f.f67568"]]},{"id":"b0b690a1.311a7","type":"debug","z":"65ac46cc.b755d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":2200,"wires":[]},{"id":"1b190093.b58d8f","type":"http request","z":"65ac46cc.b755d8","name":"","method":"POST","ret":"obj","url":"http://192.168.1.108:7805/rest/readAdc","tls":"","x":800,"y":2200,"wires":[["b0b690a1.311a7"]]},{"id":"ea4742d6.8a29f","type":"function","z":"65ac46cc.b755d8","name":"","func":"var data={}\nfor(var key in msg){\n    data[key]=msg[key]\n}\nmsg.payload=data\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2200,"wires":[["1b190093.b58d8f","f601602a.fdf2e"]]},{"id":"f601602a.fdf2e","type":"debug","z":"65ac46cc.b755d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":2300,"wires":[]},{"id":"21fe0777.cf6db8","type":"mbus-out","z":"95f1c820.444498","name":"","client":"91c68639.a76bc8","x":471,"y":242,"wires":[["1b302427.aa7e1c"]]},{"id":"1b302427.aa7e1c","type":"debug","z":"95f1c820.444498","name":"","active":false,"console":false,"complete":"false","x":690,"y":242,"wires":[]},{"id":"3e15540a.78bf1c","type":"mbus-controller","z":"95f1c820.444498","name":"","client":"91c68639.a76bc8","x":511,"y":303,"wires":[["39cfabfa.a23a14","b8f75107.339e5"]]},{"id":"fb3499bc.28c178","type":"inject","z":"95f1c820.444498","name":"scan","topic":"scan","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":122,"y":72,"wires":[["3e15540a.78bf1c"]]},{"id":"39cfabfa.a23a14","type":"debug","z":"95f1c820.444498","name":"","active":true,"console":false,"complete":"false","x":910,"y":400,"wires":[]},{"id":"d4de142c.75b018","type":"inject","z":"95f1c820.444498","name":"Read ID 1","topic":"getDevice","payload":"{\"address\": 1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":129,"y":146,"wires":[["3e15540a.78bf1c"]]},{"id":"ef5f1204.ae57c","type":"inject","z":"95f1c820.444498","name":"Get Devices","topic":"getDevices","payload":"","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":"","x":145,"y":220,"wires":[["3e15540a.78bf1c"]]},{"id":"b8f75107.339e5","type":"ui_template","z":"95f1c820.444498","group":"eb92d10.9a42d3","name":"mbus-table","order":0,"width":"14","height":"10","format":"<table>\n  <tr>\n    <th>ID</th>\n    <th>Primary ID</th>\n    <th>Info</th>\n    <th>Data</th>\n    <th>Last Update</th>\n    <th>Status</th>\n  </tr>\n  <tr style=\"cursor:pointer;\" ng-click=\"showData(device)\" ng-repeat=\"(id, device) in devices\">\n    <td>{{ device.secondaryID }}</td>\n    <td>{{ device.primaryID }}</td>\n    <td ng-bind-html=\"getInfo(device)\"></td>\n    <td>{{ device.DataRecord.length }}</td>\n    <td>{{ device.lastUpdate }}</td>\n    <td>\n        <div class=\"online\" ng-style=\"{background: !device.error ? '#4CAF50' : '#f44336'}\">\n            <md-tooltip md-direction=\"bottom\">{{ device.error ? device.error : 'OK' }}</md-tooltip>\n        </div>\n    </td>\n  </tr>\n</table>\n\n<style>\ntable {\n    border-collapse: collapse;\n    width: 100%;\n}\n\nth, td{\n    text-align: left;\n    padding: 8px;\n    background-color: #f2f2f2;\n    color: black;\n}\n\nth {\n    background-color: #4CAF50;\n    color: white;\n}\n\n.online {\n\tbackground:#ff3333;\n\twidth:20px;\n\theight:20px;\n\tmargin:0 auto;\n\t-webkit-border-radius:50%;\n\t-moz-border-radius:50%;\n\tborder-radius:50%;\n}\n</style>\n\n<script>\n\n\n(function(scope) {\n    \n    scope.send({topic: 'getDevices'});\n    scope.devices = [];\n    \n    scope.showData = function(device){\n        scope.send({topic: 'deviceData', payload: device});\n    }\n    \n    scope.getInfo = function(device){\n        var text = '';\n        var info = device.SlaveInformation;\n        \n        for(key in info){\n            text += `<p><b>${key}</b>: ${info[key]}</p>`;\n        }\n        \n        return text;\n    }\n\n    scope.$watch('msg', function(data) {\n        if(data && data.topic){\n            switch(data.topic){\n                case \"getDevices\":\n                    if(data.payload && data.payload.devices)\n                        scope.devices = data.payload.devices;\n                break;\n            }\n        }\n    });\n    \n})(scope);\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":830,"y":300,"wires":[["45607e2b.fb739"]]},{"id":"e8376d7f.55d39","type":"inject","z":"95f1c820.444498","name":"restart","topic":"restart","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":119,"y":108,"wires":[["3e15540a.78bf1c"]]},{"id":"45607e2b.fb739","type":"ui_template","z":"95f1c820.444498","group":"c79c44b1.ffa428","name":"data-table","order":0,"width":"14","height":"10","format":"<p><b>Device ID:</b> {{ID}} </p>\n\n<br>\n<br>\n\n<table>\n  <tr>\n    <th>ID</th>\n    <th>Function</th>\n    <th>Unit</th>\n    <th>Value</th>\n    <th>Timestamp</th>\n  </tr>\n  <tr ng-repeat=\"(key, data) in deviceData\">\n    <td>{{ data.id }}</td>\n    <td>{{ data.Function }}</td>\n    <td>{{ data.Unit }}</td>\n    <td>{{ data.Value }}</td>\n    <td>{{ data.Timestamp }}</td>\n  </tr>\n</table>\n\n<style>\ntable {\n    border-collapse: collapse;\n    width: 100%;\n}\n\nth, td{\n    text-align: left;\n    padding: 8px;\n    background-color: #f2f2f2;\n    color: black;\n}\n\nth {\n    background-color: #4CAF50;\n    color: white;\n}\n\n.online {\n\tbackground:#ff3333;\n\twidth:20px;\n\theight:20px;\n\tmargin:0 auto;\n\t-webkit-border-radius:50%;\n\t-moz-border-radius:50%;\n\tborder-radius:50%;\n}\n</style>\n\n<script>\n\n\n(function(scope) {\n    \n    scope.deviceData = [];\n    scope.ID = '';\n\n    scope.$watch('msg', function(data) {\n        if(data && data.topic){\n            switch(data.topic){\n                case \"deviceData\":\n                    if(data.payload){\n                        scope.deviceData = data.payload.DataRecord;\n                        scope.ID = data.payload.SlaveInformation.Id;\n                    }\n                break;\n            }\n        }\n    });\n    \n})(scope);\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1080,"y":300,"wires":[[]]},{"id":"afce1e05.82e9b","type":"inject","z":"95f1c820.444498","name":"Read ID 2","topic":"getDevice","payload":"{\"address\": 2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":184,"wires":[["3e15540a.78bf1c"]]},{"id":"340b3d4.da0c4c2","type":"ui_button","z":"95f1c820.444498","name":"Scan","group":"b170dcf0.fa32f","order":3,"width":"2","height":"1","passthru":false,"label":"Scan","tooltip":"","color":"","bgcolor":"","icon":"location_searching","payload":"","payloadType":"str","topic":"scan","x":97,"y":306,"wires":[["3e15540a.78bf1c"]]},{"id":"c421b4d1.9a7cc8","type":"ui_button","z":"95f1c820.444498","name":"Restart","group":"b170dcf0.fa32f","order":4,"width":"3","height":"1","passthru":false,"label":"Restart","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"restart","x":107,"y":343,"wires":[["3e15540a.78bf1c"]]},{"id":"4c72db16.db0c44","type":"ui_button","z":"95f1c820.444498","name":"GetDevices","group":"b170dcf0.fa32f","order":5,"width":"3","height":"1","passthru":false,"label":"Update Devices","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"getDevices","x":115,"y":380,"wires":[["3e15540a.78bf1c"]]},{"id":"135d3f37.08cc51","type":"ui_button","z":"95f1c820.444498","name":"readAddress","group":"b170dcf0.fa32f","order":2,"width":"3","height":"1","passthru":false,"label":"Read Device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"deviceID","payloadType":"flow","topic":"getDevice","x":112,"y":419,"wires":[["59c1275b.9f60f8"]]},{"id":"bb8bebc9.8cb508","type":"ui_text_input","z":"95f1c820.444498","name":"Device_ID","label":"ID: ","tooltip":"","group":"b170dcf0.fa32f","order":1,"width":"3","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":559,"y":427,"wires":[["4f3627d0.7218b8","55391085.75035"]]},{"id":"4f3627d0.7218b8","type":"function","z":"95f1c820.444498","name":"storeID","func":"\nflow.set('deviceID', msg.payload);\n\nreturn msg;","outputs":0,"noerr":0,"x":735,"y":427,"wires":[]},{"id":"59c1275b.9f60f8","type":"function","z":"95f1c820.444498","name":"readAddr","func":"var data = {address: msg.payload}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":419,"wires":[["3e15540a.78bf1c"]]},{"id":"b4ade745.012b88","type":"status","z":"95f1c820.444498","name":"controller_status","scope":["3e15540a.78bf1c"],"x":411,"y":97,"wires":[["5d221086.e53ab"]]},{"id":"aaaed68f.da1138","type":"status","z":"95f1c820.444498","name":"mbus_status","scope":["21fe0777.cf6db8"],"x":404,"y":142,"wires":[["3fe18791.9a9308"]]},{"id":"5d221086.e53ab","type":"ui_text","z":"95f1c820.444498","group":"b32a0f8b.da2f1","order":0,"width":0,"height":0,"name":"controller_status","label":"Controller","format":"{{msg.status.text}}","layout":"row-spread","x":623,"y":97,"wires":[]},{"id":"3fe18791.9a9308","type":"ui_text","z":"95f1c820.444498","group":"b32a0f8b.da2f1","order":0,"width":0,"height":0,"name":"mbus_status","label":"M-Bus","format":"{{msg.status.text}}","layout":"row-spread","x":613,"y":142,"wires":[]},{"id":"26df9c89.119644","type":"inject","z":"95f1c820.444498","name":"setPrimary","topic":"setPrimary","payload":"{\"newAddr\":3,\"oldAddr\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":121,"y":35,"wires":[["3e15540a.78bf1c"]]},{"id":"81164730.cf8b28","type":"ui_text_input","z":"95f1c820.444498","name":"Old_ID","label":"Old ID","tooltip":"","group":"b170dcf0.fa32f","order":6,"width":"3","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":566,"y":467,"wires":[["50d5b5ee.e7a56c","55391085.75035"]]},{"id":"50d5b5ee.e7a56c","type":"function","z":"95f1c820.444498","name":"storeID","func":"\nflow.set('oldID', msg.payload);\n\nreturn msg;","outputs":0,"noerr":0,"x":733,"y":467,"wires":[]},{"id":"7e93cb5f.220f14","type":"ui_text_input","z":"95f1c820.444498","name":"New_ID","label":"New ID","tooltip":"","group":"b170dcf0.fa32f","order":7,"width":"3","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":563,"y":507,"wires":[["af451f02.57a7f","55391085.75035"]]},{"id":"af451f02.57a7f","type":"function","z":"95f1c820.444498","name":"storeID","func":"\nflow.set('newID', msg.payload);\n\nreturn msg;","outputs":0,"noerr":0,"x":731,"y":507,"wires":[]},{"id":"17559f8d.eef08","type":"ui_button","z":"95f1c820.444498","name":"SetPrimary","group":"b170dcf0.fa32f","order":8,"width":"3","height":"1","passthru":false,"label":"Set Primary ID","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"setPrimary","x":90,"y":540,"wires":[["997c5a43.3f9128"]]},{"id":"997c5a43.3f9128","type":"function","z":"95f1c820.444498","name":"setPrimary","func":"var data = {\n    oldAddr: flow.get('oldID'), \n    newAddr:flow.get('newID')\n    }\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["3e15540a.78bf1c"]]},{"id":"14261335.0afd7d","type":"inject","z":"95f1c820.444498","name":"","topic":"getDevice","payload":"counter","payloadType":"flow","repeat":"3","crontab":"","once":false,"onceDelay":"","x":150,"y":640,"wires":[["ce92d04.595c83"]]},{"id":"ce92d04.595c83","type":"function","z":"95f1c820.444498","name":"scanPrimary","func":"\nif(msg.payload == null) msg.payload = 1;\n\nif(msg.payload >= 76) msg.payload = 1;\n\nmsg.payload++;\n\nflow.set(\"counter\",msg.payload);\n\nmsg.payload = {address: msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":640,"wires":[[]]},{"id":"102cf012.b7579","type":"inject","z":"95f1c820.444498","name":"setDevices","topic":"setDevices","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":260,"wires":[["604930f9.b97de"]]},{"id":"604930f9.b97de","type":"function","z":"95f1c820.444498","name":"devices","func":"var devices = [\"1\",\"2\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\",\"10\",\"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\"20\",\"21\",\"22\",\"23\",\"24\",\"25\",\"26\",\"27\",\"28\",\"29\",\"30\",\"31\",\"32\",\"33\",\"34\",\"35\",\"36\",\"37\",\"38\",\"39\",\"40\",\"41\",\"42\",\"43\",\"44\",\"45\",\"46\",\"47\",\"48\",\"49\",\"50\",\"51\",\"52\",\"53\",\"54\",\"55\",\"56\",\"57\",\"58\",\"59\",\"60\",\"61\",\"62\",\"63\",\"64\",\"65\",\"66\",\"67\",\"68\",\"69\",\"70\",\"71\",\"72\",\"73\",\"74\",\"75\",\"76\"];\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["3e15540a.78bf1c"]]},{"id":"55391085.75035","type":"debug","z":"95f1c820.444498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":600,"wires":[]},{"id":"8594a025.947a9","type":"comment","z":"95f1c820.444498","name":"当页面有输入，立即执行","info":"","x":570,"y":560,"wires":[]},{"id":"94946ffa.5612e","type":"comment","z":"95f1c820.444498","name":"点击会获取flow内容，与input形成互动","info":"","x":190,"y":460,"wires":[]},{"id":"3fa1a750.78a1f8","type":"comment","z":"95f1c820.444498","name":"此节点将订阅M-Bus客户端事件","info":"","x":550,"y":200,"wires":[]},{"id":"3e40e238.33928e","type":"comment","z":"95f1c820.444498","name":"该节点用于向M-Bus客户端发送命令。 msg.topic必须包含命令名称和msg.payload命令数据","info":"","x":730,"y":360,"wires":[]},{"id":"2530bc90.7ea9e4","type":"ui_template","z":"f83eeff1.c7c4b","group":"79e04d33.8e43c4","name":"test-table","order":0,"width":"12","height":"4","format":"<table>\n  <tr>\n    <th>ID</th>\n    <th>Primary ID</th>\n    <th>Info</th>\n    <th>Data</th>\n    <th>Last Update</th>\n    <th>Status</th>\n  </tr>\n  <tr style=\"cursor:pointer;\" ng-click=\"showData(device)\" ng-repeat=\"(id, device) in devices\">\n    <td>{{ device.key }}</td>\n    <td>{{ device.name }}</td>\n    <td ng-bind-html=\"getInfo(device)\"></td>\n    <td>{{ device.address.length }}</td>\n    <td>{{ device.age }}</td>\n    <td>\n        <div class=\"online\" ng-style=\"{background: !device.error ? '#4CAF50' : '#f44336'}\">\n            <md-tooltip md-direction=\"bottom\">{{ device.error ? device.error : 'OK' }}</md-tooltip>\n        </div>\n    </td>\n  </tr>\n</table>\n\n<style>\ntable {\n    border-collapse: collapse;\n    width: 100%;\n}\n\nth, td{\n    text-align: left;\n    padding: 8px;\n    background-color: #f2f2f2;\n    color: black;\n}\n\nth {\n    background-color: #4CAF50;\n    color: white;\n}\n\n.online {\n\tbackground:#ff3333;\n\twidth:20px;\n\theight:20px;\n\tmargin:0 auto;\n\t-webkit-border-radius:50%;\n\t-moz-border-radius:50%;\n\tborder-radius:50%;\n}\n</style>\n\n<script>\n\n\n(function(scope) {\n      console.log('scope',scope)\n    scope.send({topic: 'getDevices'});\n    scope.devices = [];\n    \n    scope.showData = function(device){\n        scope.send({topic: 'deviceData', payload: device});\n    }\n    \n    scope.getInfo = function(device){\n        var text = '';\n        var info = device.SlaveInformation;\n        \n        for(key in info){\n            text += `<p><b>${key}</b>: ${info[key]}</p>`;\n        }\n        \n        return text;\n    }\n\n    scope.$watch('msg', function(data) {\n        console.log('data',data)\n        if(data && data.topic){\n            switch(data.topic){\n                case \"getDevices\":\n                    if(data.payload && data.payload.devices)\n                        scope.devices = data.payload.devices;\n                break;\n            }\n        }\n    });\n    \n})(scope);\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1220,"y":520,"wires":[[]]},{"id":"990f03a1.10d8e","type":"function","z":"f83eeff1.c7c4b","name":"","func":"var devices=[];\nfor(var i=0;i<msg.payload;i++){\n    devices.push({\n         key: i+1,\n    name: '胡彦斌',\n    age: 32,\n    address: '西湖区湖底公园1号',\n    })\n}\nmsg.payload={};\nmsg.payload.devices=devices;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":520,"wires":[["2530bc90.7ea9e4"]]},{"id":"dddea382.6af89","type":"ui_button","z":"f83eeff1.c7c4b","name":"","group":"79e04d33.8e43c4","order":4,"width":"2","height":"1","passthru":false,"label":"改变条数","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tiaoshu","payloadType":"flow","topic":"getDevices","x":840,"y":520,"wires":[["990f03a1.10d8e","1fa1d64f.457eba"]]},{"id":"6271a162.72b4","type":"ui_text_input","z":"f83eeff1.c7c4b","name":"条数","label":"条数","tooltip":"","group":"79e04d33.8e43c4","order":1,"width":"3","height":"1","passthru":true,"mode":"number","delay":300,"topic":"","x":830,"y":580,"wires":[["6f36efe1.d6144"]]},{"id":"6f36efe1.d6144","type":"function","z":"f83eeff1.c7c4b","name":"storeID","func":"\nflow.set('tiaoshu', msg.payload);\n\nreturn msg;","outputs":0,"noerr":0,"x":1026,"y":580,"wires":[]},{"id":"1b2ea35c.2ed61d","type":"comment","z":"f83eeff1.c7c4b","name":"按钮获取输入款内容，显示表格","info":"","x":910,"y":460,"wires":[]},{"id":"1fa1d64f.457eba","type":"debug","z":"f83eeff1.c7c4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":420,"wires":[]},{"id":"76b15004.f3971","type":"rpi-ds18b20","z":"95f1c820.444498","topic":"71EEFA050000","array":false,"name":"","x":760,"y":700,"wires":[["3d71e347.141cac"]]},{"id":"33e01232.4083ee","type":"inject","z":"95f1c820.444498","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":720,"wires":[["76b15004.f3971"]]},{"id":"3d71e347.141cac","type":"debug","z":"95f1c820.444498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":700,"wires":[]},{"id":"5a1a1d6f.514344","type":"inject","z":"b0960878.de5638","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":490,"y":460,"wires":[["42c32778.55acf8"]]},{"id":"42c32778.55acf8","type":"actionflows","z":"b0960878.de5638","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"action222","prop":"loop","untilprop":"2","until":"eq","loop":"watch","scope":"global","perf":false,"seq":false,"x":680,"y":460,"wires":[[]]},{"id":"aefddd6c.9ad83","type":"actionflows_in","z":"b0960878.de5638","name":"action222 in","priority":"50","links":[],"scope":"global","x":330,"y":520,"wires":[["4b4afd71.eb96b4"]]},{"id":"47286f56.e69e8","type":"actionflows_out","z":"b0960878.de5638","name":"action out","links":[],"x":940,"y":520,"wires":[]},{"id":"6d96f309.18d49c","type":"debug","z":"b0960878.de5638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"loop","x":900,"y":440,"wires":[]},{"id":"9e47076a.54d5d8","type":"delay","z":"b0960878.de5638","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":520,"wires":[["47286f56.e69e8","6d96f309.18d49c"]]},{"id":"4b4afd71.eb96b4","type":"random","z":"b0960878.de5638","name":"","low":"1","high":"10","inte":"true","property":"loop","x":540,"y":520,"wires":[["9e47076a.54d5d8"]]},{"id":"a145387c.04a128","type":"comment","z":"b0960878.de5638","name":"循环直到loop等于2","info":"","x":250,"y":460,"wires":[]},{"id":"10a15895.2b8517","type":"comment","z":"b0960878.de5638","name":"名称前面一致才执行","info":"","x":150,"y":160,"wires":[]},{"id":"d755ed4d.3cf9e","type":"inject","z":"b0960878.de5638","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":410,"y":740,"wires":[["68b9b15e.45594"]]},{"id":"68b9b15e.45594","type":"actionflows","z":"b0960878.de5638","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"action","prop":"loop","untilprop":"9","until":"gt","loop":"inc0","scope":"global","perf":false,"seq":false,"x":600,"y":740,"wires":[[]]},{"id":"8cf9a466.9e5588","type":"actionflows_in","z":"b0960878.de5638","name":"action in","priority":"50","links":[],"scope":"global","x":200,"y":820,"wires":[["54b14e20.e8913"]]},{"id":"5f40f376.a1e79c","type":"actionflows_out","z":"b0960878.de5638","name":"action out","links":[],"x":960,"y":800,"wires":[]},{"id":"eceb114e.0ac66","type":"random","z":"b0960878.de5638","name":"","low":"1","high":"10","inte":"true","property":"payload","x":500,"y":820,"wires":[["70d3a44c.3e648c"]]},{"id":"70d3a44c.3e648c","type":"switch","z":"b0960878.de5638","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"8","vt":"str"},{"t":"gt","v":"8","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":820,"wires":[["5f40f376.a1e79c","7c934a9c.f10484"],["f05ddf80.a0d9b"]]},{"id":"f05ddf80.a0d9b","type":"debug","z":"b0960878.de5638","name":"","active":true,"console":"false","complete":"false","x":970,"y":860,"wires":[]},{"id":"7c934a9c.f10484","type":"debug","z":"b0960878.de5638","name":"","active":true,"console":"false","complete":"false","x":970,"y":740,"wires":[]},{"id":"54b14e20.e8913","type":"delay","z":"b0960878.de5638","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":820,"wires":[["eceb114e.0ac66"]]},{"id":"f169d7de.f6a4a8","type":"comment","z":"b0960878.de5638","name":"10次循环，当payload>8退出循环","info":"","x":290,"y":680,"wires":[]}]