special.json
[{"id":"b37211e5.815f7","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"6ecd7212.4f43ac","type":"trigger","z":"b37211e5.815f7","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":470,"y":280,"wires":[["ea6a6d89.70b94"]]},{"id":"8600236d.c962","type":"inject","z":"b37211e5.815f7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["6ecd7212.4f43ac"]]},{"id":"35d23543.7663fa","type":"debug","z":"b37211e5.815f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1090,"y":280,"wires":[]},{"id":"ea6a6d89.70b94","type":"http request","z":"b37211e5.815f7","name":"","method":"GET","ret":"txt","url":"http://www.baidu.com","tls":"","x":760,"y":360,"wires":[["35d23543.7663fa"]]},{"id":"83c6b9e9.c6a608","type":"inject","z":"b37211e5.815f7","name":"","topic":"admin","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":500,"wires":[["90897ef6.ef239"]]},{"id":"f866cbbf.5ecdc8","type":"debug","z":"b37211e5.815f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":560,"wires":[]},{"id":"90897ef6.ef239","type":"my-lower-case","z":"b37211e5.815f7","name":"默认name","x":400,"y":500,"wires":[["f866cbbf.5ecdc8"]]},{"id":"c929820a.f4b92","type":"my-lower-case","z":"b37211e5.815f7","name":"默认name","x":960,"y":480,"wires":[[]]},{"id":"92d6e735.dbaee8","type":"my-lower-case","z":"b37211e5.815f7","name":"","x":930,"y":600,"wires":[[]]}]