special.json
[{"id":"b37211e5.815f7","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"a4314e7.1d382b","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"620c2d91.dc84e4","type":"subflow","name":"Subflow 2","info":"","in":[{"x":340,"y":540,"wires":[{"id":"a9ac7759.a73448"}]}],"out":[{"x":800,"y":540,"wires":[{"id":"79bea58c.c686bc","port":0}]}]},{"id":"d0fe311e.c20d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3a73dc18.27cf54","type":"catch","z":"b37211e5.815f7","name":"","scope":null,"x":600,"y":2060,"wires":[[]]},{"id":"bc85ab15.043dd8","type":"inject","z":"b37211e5.815f7","name":"","topic":"admin","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":260,"wires":[["f8519d98.62c02"]]},{"id":"c27a4ed1.bc5d5","type":"debug","z":"b37211e5.815f7","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":950,"y":260,"wires":[]},{"id":"f8519d98.62c02","type":"function","z":"b37211e5.815f7","name":"admin","func":"var msg1 = { payload:\"first out of output 1\" };//多个信息\nvar msg2 = { payload:\"second out of output 1\" };\nvar msg3 = { payload:\"third out of output 1\" };\nvar msg4 = { payload:\"only message from output 2\" };\nreturn [ [ msg1, msg2, msg3 ], msg4,{ payload:\"only message from output 3\" } ];//多个输出","outputs":3,"noerr":0,"x":610,"y":260,"wires":[["f910b900.7136c8"],["c27a4ed1.bc5d5"],["fe8f4ed8.1786b"]]},{"id":"fa000928.2967f8","type":"inject","z":"b37211e5.815f7","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":false,"onceDelay":"","x":330,"y":540,"wires":[["90b2a129.5378a"]]},{"id":"a9ac7759.a73448","type":"http request","z":"620c2d91.dc84e4","name":"Recent Quakes","method":"GET","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":500,"y":540,"wires":[["79bea58c.c686bc"]]},{"id":"79bea58c.c686bc","type":"csv","z":"620c2d91.dc84e4","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"x":670,"y":540,"wires":[[]]},{"id":"bc2e5849.cecef8","type":"debug","z":"b37211e5.815f7","name":"","active":true,"complete":false,"x":830,"y":540,"wires":[]},{"id":"f5dc2ef2.30ac8","type":"change","z":"b37211e5.815f7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":680,"wires":[["ef7f316d.6022b"]]},{"id":"ef7f316d.6022b","type":"debug","z":"b37211e5.815f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":680,"wires":[]},{"id":"40e52a4f.761894","type":"debug","z":"b37211e5.815f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":560,"wires":[]},{"id":"90b2a129.5378a","type":"subflow:620c2d91.dc84e4","z":"b37211e5.815f7","name":"获取csv","x":585,"y":540,"wires":[["bc2e5849.cecef8","376d05e4.a4b4aa"]]},{"id":"376d05e4.a4b4aa","type":"switch","z":"b37211e5.815f7","name":"admin","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":680,"wires":[["f5dc2ef2.30ac8","40e52a4f.761894"]]},{"id":"f910b900.7136c8","type":"debug","z":"b37211e5.815f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":200,"wires":[]},{"id":"fe8f4ed8.1786b","type":"debug","z":"b37211e5.815f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":360,"wires":[]},{"id":"b7b1f05b.1d94a","type":"inject","z":"b37211e5.815f7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":860,"wires":[["e94fc7fb.63aa88"]]},{"id":"730e69a9.33b548","type":"function","z":"b37211e5.815f7","name":"","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nvar flower = flow.get('flower')||10;\nflower += 1;\nflow.set('flower',flower);\nmsg.flower=flower\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":860,"wires":[["b230cf2d.6d065","acbbefd.36d941"]]},{"id":"b230cf2d.6d065","type":"debug","z":"b37211e5.815f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":860,"wires":[]},{"id":"e94fc7fb.63aa88","type":"change","z":"b37211e5.815f7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"flower","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":860,"wires":[["730e69a9.33b548"]]},{"id":"c0167137.21b87","type":"inject","z":"b37211e5.815f7","name":"","topic":"","payload":"flower","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1120,"wires":[["9b0e4e59.6587f"]]},{"id":"9b0e4e59.6587f","type":"debug","z":"b37211e5.815f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480,"y":1120,"wires":[]},{"id":"67ac57f3.a82a38","type":"inject","z":"a4314e7.1d382b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":260,"wires":[["fbeee211.ded28"]]},{"id":"fbeee211.ded28","type":"function","z":"a4314e7.1d382b","name":"","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nvar flower = global.get('flower2')||10;\nflower += 1;\nglobal.set('flower2',flower);\nmsg.flower=flower\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":260,"wires":[["d761703.119589"]]},{"id":"d761703.119589","type":"debug","z":"a4314e7.1d382b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":260,"wires":[]},{"id":"7839e6d6.0a9a68","type":"inject","z":"a4314e7.1d382b","name":"","topic":"","payload":"flower2","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":420,"wires":[["55bd821c.d34bdc"]]},{"id":"55bd821c.d34bdc","type":"debug","z":"a4314e7.1d382b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":420,"wires":[]},{"id":"46a16f68.450a1","type":"change","z":"b37211e5.815f7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1040,"wires":[[]]},{"id":"acbbefd.36d941","type":"function","z":"b37211e5.815f7","name":"","func":"var count33=context.get('count');\nmsg.co=count33;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":940,"wires":[["b8a0a944.ffe048"]]},{"id":"b8a0a944.ffe048","type":"debug","z":"b37211e5.815f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":940,"wires":[]}]